/* FONTS */

@font-face {
    font-family: 'Frutiger Light';
    font-style: normal;
    font-weight: 300;
    src: url('Fonts/FrutigerLT-Light.ttf')  format('truetype');
  }
@font-face {
    font-family: 'Frutiger Light';
    font-style: normal;
    font-weight: 300;
    font-stretch: condensed;
    src: url('Fonts/FrutigerLT-LightCn.ttf')  format('truetype');

  }

  @font-face {
    font-family: 'Frutiger Light';
    font-style: normal;
    font-weight: 500;
    src: url('Fonts/FrutigerLT-Bold.ttf')  format('truetype');
  }

  @font-face {
    font-family: 'Frutiger Light';
    font-style: normal;
    font-weight: 400;
    font-stretch: condensed;
    src: url('Fonts/FrutigerLT-BoldCn.ttf')  format('truetype');
  }

  
  @font-face {
    font-family: 'Frutiger Roman';
    font-style: normal;
    font-weight: 300;
    src: url('Fonts/FrutigerLT-Roman.ttf')  format('truetype');
  }
  
  @font-face {
    font-family: 'Frutiger Black';
    font-style: normal;
    font-weight: 300;
    src: url('Fonts/FrutigerLT-Black.ttf')  format('truetype');
  }
  @font-face {
    font-family: 'Frutiger Black';
    font-style: normal;
    font-weight: 400;
    src: url('Fonts/FrutigerLT-ExtraBlackCn.ttf')  format('truetype');
  }


  @font-face {
    font-family: 'Frutiger Black';
    font-style: normal;
    font-weight: 500;
    src: url('Fonts/FrutigerLT-UltraBlack.ttf')  format('truetype');
  }
  
  @font-face {
    font-family: 'Frutiger Black';
    font-style: italic;
    font-weight: 400;
    src: url('Fonts/FrutigerLT-BlackItalic.ttf')  format('truetype');
  }

