.discoverAPI {
    padding-right: 48px !important;
    padding-left: 48px !important;

    background-color: white !important;
}
.sign-up-bar-container {
    background-color: #fff6E6;
    height: 90px;
    border: #ffaa22 1px solid;
    margin: 0 !important;
}
.sign-up-bar-text-box {
    margin: 0;
    margin-top: 28px;
    margin-left: 5%;
    width: 72%;
}
.country-button-container {
    /*background-color: #fff6E6;*/
    height: 90px;
    /*border: #ffaa22 1px solid;*/
    margin: 0 !important;
}
.country-button-text {
    margin: 0;
    margin-top: -5px;
    font-weight: bold;
    text-align: center;
    
}
.country-button-text-box {
    margin: 0;
    margin-top: 28px;
    margin-left: 25%;
    width: 25%;
}
.SignUp-button {
    position: absolute;
    right: 100px;
    width: 144px;
    height: 40px;
    background-color: #ED4746;
    color: white;
    margin-top: 23px;
    cursor: pointer;
}
.country-button {
    position: absolute;
    /*right: 400px;*/
    width: 144px;
    height: 40px;
    margin-right: 20%;
    background-color: white;
    color: black;
    margin-top: 23px;
    cursor: pointer;
}

.discover-title {
    font-weight: 300 !important;
    color: #000000 !important;
    margin: 32px 0;
}
.discoverySection {
    /* padding: 0 48px !important; */
    padding-bottom: 40px;
}
.discover-Item {
    height: 280px;
    text-align: center;
    padding-right: 20px !important;
    padding-left: 20px !important;
    padding-bottom: 20px;   
}
.discoverIcon {
    height: 80px;
}
.item-des {
    font-size: 16px;
    text-align: center;
}
.signup-des {
    font-size: 16px;
    text-align: center;
}
.signup-des-bold {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.item-subtitle-des-bold {
    font-size: 13px;
    text-align: center;
    font-weight: bold;
   padding-block-end: -10px;
}
.item-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}
.itemLink {
    color: #ff3333 !important;
    font-size: 16px;
    text-align: left;
}
.itemLink:hover {
    cursor: pointer;
}
.row.itemRow {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.lineHeight {
    line-height: 112%
}
.boxLineHeight {
    padding: 10px;
    /* padding-right: 200px; */
  }
img.signup-graphic {
    max-width: 100%;
    height: auto;
  }
@media screen and (max-width: 1051px) {
    .sign-up-bar-text-box {
        margin-top: 15px !important;
    }
}
@media screen and (max-width: 825px) {
    .discoverAPI {
        padding-right: 0 !important;
        padding-left: 0 !important;
        /* margin-left: -15px !important; */
    }
    .sign-up-bar-container {
        margin: 0px;
        /* margin-right: -45px !important; */
        height: 150px;
        margin-top: -32px;
    }
    .sign-up-bar-text-box {
        width: 88%;
        margin-left: 6%;
    }        
    .SignUp-button {
        /* width: 80%;
        margin-left: 20%; */
        margin-top: 80px;
        left: 50%;
        margin-left: -72px;
    }
    .itemLink {
        font-size: 14px;
    }
    .itemRow {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 450px) {
    .sign-up-bar-container {
        margin: -32px !important;
        /* margin-right: -45px !important; */
        height: 167px;
        border: none;
        margin-top: -32px;
    }
    .sign-up-bar-text-box {
        width: 88%;
        margin-left: 6%;
    }        
    .sign-up-bar-text {
        text-align: center;
    }
    .SignUp-button {
        /* width: 80%;
        margin-left: 20%; */
        margin-top: 100px;
        left: 50%;
        margin-left: -72px;
    }
}
@media screen and (max-width: 768px) {
    .item-des {
        text-align: center !important;
    }
    .itemLink {
        text-align: center !important;
    }
}

/* country configurator */

@media screen and (max-width: 1051px) {
    .country-button-text-box {
        margin-top: 15px !important;
    }
}
@media screen and (max-width: 825px) {
    .discoverAPI {
        padding-right: 0 !important;
        padding-left: 0 !important;
        /* margin-left: -15px !important; */
    }
    .country-button-container {
        margin: 0px;
        /* margin-right: -45px !important; */
        height: 150px;
        margin-top: -32px;
    }
    .country-button-text-box {
        width: 88%;
        margin-left: 6%;
    }        
    .country-button {
        /* width: 80%;
        margin-left: 20%; */
        margin-top: 80px;
        left: 50%;
        margin-left: -72px;
    }
    .itemLink {
        font-size: 14px;
    }
    .itemRow {
        margin-top: 10px !important;
    }
}

@media screen and (max-width: 450px) {
    .country-button-container {
        margin: -32px !important;
        /* margin-right: -45px !important; */
        height: 167px;
        border: none;
        margin-top: -32px;
    }
    .country-button-text-box {
        width: 88%;
        margin-left: 6%;
    }        
    .country-button-text {
        text-align: center;
    }
    .country-button {
        /* width: 80%;
        margin-left: 20%; */
        margin-top: 100px;
        left: 50%;
        margin-left: -72px;
    }
}