 
        .HubHeaderItem:hover,
        .HubHeaderItem.is-active {
          color: #000000;
        }
      
      .HubBlock-tab.active {
        border-color: #000000 !important;
      }

      .markdown-body a {
        color: #000000;
      }

      .HubMain .text-active,
      .HubMain .hover\:text-active:hover,
      .HubMain .HubBlock-tab:hover {
        color: #000000 !important;
      }
    
      .HubMain .ui.secondary.button {
        background-color: #f6993f;
      }
     @font-face {
	
	font-family: "ciutadella_rounded_regularRg";
	src: url("https://developer.ofx.com/sites/all/themes/ofx_developer_portal/fonts/ciutadella_rounded_regular-webfont.ttf");
}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	font-family: "ciutadella_rounded_regularRg", Helvetica, sans-serif;
}

h1, h1.DocsGroup-title, .SmallLayout h1.DocsGroup-title {
	font-size: 32px;
}

h2 {
	font-size: 26px;
}

h3 {
	font-size: 20px;
}

div.HubHeader-section.is-right > a.HubHeaderItem {
	line-height: 20px;
	border-color: #464547;
	height: 30px;
	border-radius: 20px;
	border: 1px solid currentcolor;
	margin-top: 5px;
	padding-top: 7px;
	font-family: "ciutadella_rounded_regularRg", Helvetica, sans-serif;
}

div.HubHeader-section.is-right > a.HubHeaderItem:hover {
	color: #f79e37;
}

a.HubHeaderItem[target="_self"] {
}

.ui.secondary.buttons .button {
	visibility: hidden;
}

.ml-4 {
	padding-left: 30px;
	font-size: 26px;
	font-weight: bold;
}

.DocTextSection-name, .SmallLayout .SidebarGroup .MLD-name, .SmallLayout .SidebarGroup-inner, .TextBlock-header-token, .TextBlock-header-title, .ml-4 {
	font-family: "ciutadella_rounded_regularRg", Helvetica, sans-serif;
}

.API-Docs-Header-Inner.SmallLayout-container {
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex: none;
	flex: none;
	line-height: 150px;
	width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
	text-align: left;
}

/* Navigation */

.sl-dropdown-list_handle i {
	color: #df7b09 !important;
	line-height: 30px;
}

.sl-dropdown-list_content {
	border: 1px solid #eeeeee;
	background-color: #ffffff;
}

.sl-dropdown-list_content li:hover {
	border-left-color: #df7b09;
	background-color: #df7b09;
}

.API-Docs-Header-Title-Text {
	color: #565656;
	font-size: 22px;
	font-family: "ciutadella_rounded_regularRg", Helvetica, sans-serif;
	line-height: 30px;
	text-transform: uppercase;
	margin-left: 15px;
}

.API-Docs-Header-Subtext {
	display: none;
}

.SmallLayout .MLI.is-active .MLI-top, .SmallLayout .MLI.is-active .MLI-token {
	color: #df7b09 !important;
}

/* Button */

.btn, .EndpointRequest-button.btn {
	color: #ffffff;
	background: #df7b09;
	border: none;
	box-shadow: none;
	margin-right: 15px;
	display: inline-block;
	border-radius: 22px;
	height: 44px;
	font-size: 16px;
	letter-spacing: 0;
	text-transform: uppercase;
	line-height: 30px;
	padding-left: 30px;
	padding-right: 30px;
	text-decoration: none;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	user-select: none;
	font: normal 16px / 1.1875 "ciutadella_rounded_regularRg", Helvetica, sans-serif;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 6px;
}

.HubMain .ui.secondary.button {
	background-color: #df7b09;
	border-radius: 20px;
	color: white;
	font-family: "ciutadella_rounded_regularRg", Helvetica, sans-serif;
	text-transform: uppercase;
}

.HubMain .ui.secondary.button:hover {
	background-color: #f79e37;
	color: white;
}

.ui.tiny.button {
	visibility: hidden;
}

.btn--action-dark:hover {
	background-color: #f79e37;
	color: white;
}

.markdown-body a {
	color: #df7b09 !important;
}

.ui.category.fluid.search {
	visibility: hidden;
}

.svg-inline--fa.fa-w-16{
  visibility: hidden;
}

