body {
  font-family: SansLight;
}

#api-container {
  width: 100%;
  height: auto;
  background-color: #FBFBFB;
}
.container {
  max-width: 1024px;
}

#all-apis {
  margin-top: 70px;
  margin-bottom: 70px;
}

#all-apis .title {
  font-family: SansBold;
  font-size: 30px;
}

#all-apis .content {
  font-size: 16px;
}

.type {
  height: 30px;
}

.type a {
  font-family: SansPlain;
  color: #d8232a;
  font-size: 24px;
  float: left;
  text-decoration: none;
  font-weight:  600;
}

.group {
  margin-left: 40px;
  font-size: 15px;
  font-weight: 600;
  font-family: SansPlain;
  margin-bottom:  10px;
}

.group a {
  text-decoration: none;
  font-family: SansPlain;
  font-size: 15px;
  color: #d8232a;
}


.category {
  margin-bottom: 10px;
  height: 50px;
}

.category img {
  float: left;
  width: 30px;
  margin-bottom:  25px;
  margin-top: 12.5px;
}

.category a {
  font-family: SansPlain;
  color: #4a4a4a;
  font-size: 21px;
  float: left;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 600;
  width: auto;
}


.row {
  margin-left: -10px;
  margin-right:  -10px;
}

.api-title a{
  text-decoration: none;
  font-family: SansPlain;
  font-size: 15px;
  color: #4a4a4a;
}


.api-title a:hover{
  text-decoration: underline;
  color: #d8232a;
}

.api-content {
  color: #4a4a4a;
  font-size: 14px;
}

.back-link {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.back-link a{
  text-decoration: none;
  font-family: SansPlain;
  color: #d8232a;
  font-size: 18px;
}

.back-link a:hover {
  text-decoration: underline;
}

hr.nav {
  width: 100%;
  border-top:1px solid #c3c3c3;
}
hr.nav-down {
	margin-top: 20px;
	margin-bottom: 0px;
}

ul {
	min-height: 19px;
}

hr{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-top:1px solid #c3c3c3;
}

#talk-to-us {
  background-color: rgba(0, 0, 0, 0.2);
  height: 311px;
  text-align: center;
}
#talk-to-us h2 {
  font-family: SansSemiBold;
  color: #FFFFFF;
  font-size: 30px;
  margin-top: 0px;
  padding-top: 90px;
}
#talk-to-us p {
  max-width: 430px;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 16px;
}
#circle {
  margin-bottom: 2px;
  margin-right: 8px;
  width: 5px;
  height: 5px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display:inline-block;
  margin-right:8px;
  margin-top: 8px;
}
.authorization-point{
  background: #d8232a;
}
.usecase-point{
  background: #7e7e7e;
}

.ospl-point{
  background: #00a3a2;
}

/*.invisible-point{
  background: #FBFBFB;
}*/

.explain{
  margin: 20px 0;
}
.explain div{
  display: inline-block;
  margin-right: 15px;
}
.explain #circle{
  margin-bottom: 1px;
}
.titlebox{
  margin-left: 55px;
  margin-bottom:  10px;
  text-indent: -1em;
}
.apia{
  margin-right: 10px;
}

.no-point-apia{
  margin-left: 14px;
}

.side-nav{
  width: 20%;
  float: left;
  postition: fixed;
  color: #f2f2f2;
  display: inline-block;
  clear: left;
  padding-top: 30px;
  margin-left: -40px;
  height: 1200px;
}


.right-content{
  margin-left: 180px;
  height: auto;
  padding: 20px 0px 20px 40px;
}

 
.side-nav-cont{
  width: 180px;
  float: left;
  display: inline-block;
  clear: left;
  padding-top: 0px;
  height: 97.9%;
  background-color: #f2f2f2;
  position: absolute;
}


.side-nav-cont a{
    font-family: SansPlain;
    color: #4a4a4a;
    font-size: 18px;
    float: left;
    text-decoration: none;
    margin-left: -10px;
}

.side-nav-content a{
    font-family: SansPlain;
    font-size: 18px;
    float: left;
    text-decoration: none;
    margin-left: -10px;
}


.side-nav-content a:hover {
  text-decoration: underline;
  color: #d8232a;
}



#rectangle{
    width:5px;
    height:20px;
    vertical-align: top;
    margin-top: 0px;
    background:#d8232a;
    float: left;
}
.side-nav-content {
	position: sticky;
	margin-top: 30px;
}

#side-nav-wrapper {
  position: sticky;
  top: 10px;
  margin-bottom: 60px;
}

#all-apis-content {
  position:relative;
}


@media (max-width: 992px) {
    #navigation-left {
        display:none !important;
    }


	
	.right-content {
		margin-left: 0px;
		width: 100%;
	}
}