/* ------------------------------------------------------------ *
 *
 * main.scss
 *
 * ------------------------------------------------------------ */
@import url(//use.fontawesome.com/releases/v5.3.1/css/all.css);
@font-face {
  font-family: "Optimist";
  src: url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-thin.woff), url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-thin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: "Optimist";
  src: url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-light.woff), url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "Optimist";
  src: url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-regular.woff), url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Optimist";
  src: url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-semibold.woff), url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "Optimist";
  src: url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-bold.woff), url(//na-sj16.marketo.com/rs/284-ESC-480/images/optimist-bold.ttf);
  font-weight: 700;
}
.fa-times-thin:before {
  position: relative;
  content: '\00d7';
}

/* responsive options */
/* color options */
/* brand colors */
/* social colors */
/* background options */
/* font options */
/* form options */
/* form options */
/* gutter options */
/* config options */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:first-child {
  margin-top: 0;
}
*:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0 auto;
  border: 0;
  max-width: 100%;
  height: auto;
}

html {
  overflow: auto;
}

body {
  background-color: #14255b;
  color: #3E405A;
  border-color: transparent;
  margin: 0;
  padding: 0;
  font: 400 16px/1.5 Optimist, Arial, Helvetica, sans-serif;
  color: #3E405A;
}

.pipe {
  display: inline-block;
  padding: 0 5px;
  opacity: 0.50;
}

a {
  color: #14255b;
}
a:hover {
  color: #224098;
}

main {
  display: block;
}

.DX-header {
  padding: 0 20px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: #FFFFFF;
  color: #3E405A;
  border-color: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .DX-header {
    padding: 0 30px 0;
  }
}
@media (min-width: 992px) {
  .DX-header {
    padding: 0 40px 0;
  }
}
.DX-header_logo {
  padding: 11px 0;
}
.DX-header_logo img {
  margin: 0;
  padding: 0;
  width: auto;
  height: 22px;
}
@media (min-width: 768px) {
  .DX-header_logo {
    padding: 18px 0;
  }
  .DX-header_logo img {
    height: 28px;
  }
}
.DX-header_nav-mobile {
  display: block;
}
@media (min-width: 768px) {
  .DX-header_nav-mobile {
    display: none;
  }
}
.DX-header_nav-mobile_hamburger {
  display: block;
  background: transparent url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-hamburger.png) center -1px no-repeat;
  padding: 17px 0 0;
  width: 27px;
  font-size: 8px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
.DX-header_nav-mobile_menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: fixed;
  top: 0;
  right: -320px;
  bottom: 0;
  background: #FFFFFF;
  width: 310px;
  z-index: 9999;
  overflow-y: auto;
  transition: right ease-in 0.2s;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.2);
}
.DX-header_nav-mobile_menu.is-active {
  right: 0;
  transition: right ease-out 0.5s;
}
.DX-header_nav-mobile_menu-close {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background: transparent url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-close.svg) center center no-repeat;
  background-size: 20px;
  width: 65px;
  height: 65px;
  text-decoration: none;
}
.DX-header_nav-mobile_menu-header {
  background: #224098;
  padding: 0 36px;
  font-weight: 600;
  font-size: 16px;
  line-height: 125px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.DX-header_nav-mobile_menu-header a {
  color: #FFFFFF;
  text-decoration: none;
}
.DX-header_nav-mobile_menu.is-subnav > .DX-header_nav-mobile_menu-header {
  line-height: 65px;
}
.DX-header_nav-mobile_menu.is-subnav > .DX-header_nav-mobile_menu-header:before {
  margin: 0 5px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  content: "\02190";
}
.DX-header_nav-mobile_menu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.DX-header_nav-mobile_menu-list ul {
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
}
.DX-header_nav-mobile_menu-list ul li {
  position: relative;
  margin: 0;
  padding: 0;
}
.DX-header_nav-mobile_menu-list ul li a {
  display: block;
  margin: 0;
  padding: 16px 36px;
  font-size: 16px;
  color: #1B3279;
  line-height: 24px;
  text-decoration: none;
}
.DX-header_nav-mobile_menu-list ul li a:hover {
  background: #ECEDF1;
  color: #224098;
}
.DX-header_nav-mobile_menu-list ul li a.DX-header_nav-mobile_menu-icon {
  padding: 16px 36px 16px 62px;
  background: transparent url(//placehold.it/16) 36px center no-repeat;
}
.DX-header_nav-mobile_menu-list ul li a.DX-header_nav-mobile_menu-icon--products {
  background-image: url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-products.svg);
}
.DX-header_nav-mobile_menu-list ul li a.DX-header_nav-mobile_menu-icon--docs {
  background-image: url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-docs.svg);
}
.DX-header_nav-mobile_menu-list ul li a.DX-header_nav-mobile_menu-icon--resources {
  background-image: url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-resources.svg);
}
.DX-header_nav-mobile_menu-list ul li a.DX-header_nav-mobile_menu-icon--help {
  background-image: url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-help.svg);
}
.DX-header_nav-mobile_menu-list ul li a.DX-header_nav-mobile_menu-icon--feedback {
  background-image: url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-feedback.svg);
}
.DX-header_nav-mobile_menu-list ul li.full a {
  font-size: 14px;
  text-transform: uppercase;
}
.DX-header_nav-mobile_menu-list ul li.full a:after {
  margin: 0 0 0 5px;
  font-weight: bold;
  color: #E3245A;
  content: "\02192";
}
.DX-header_nav-mobile_menu-list ul:not(:last-child) {
  flex: 1 0 auto;
}
.DX-header_nav-mobile_menu-list ul:last-child {
  padding: 0 0 10px;
}
.DX-header_nav-strip {
  display: none;
  position: relative;
}
@media (min-width: 768px) {
  .DX-header_nav-strip {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
  }
}
.DX-header_nav-strip ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}
.DX-header_nav-strip ul li {
  font-weight: 400;
}
.DX-header_nav-strip ul li a {
  font-size: 14px;
  color: #3E405A;
  text-decoration: none;
}
.DX-header_nav-strip ul li a:not(.sign-in) {
  display: block;
  margin: 0 8px;
  padding: 2px 10px 0;
  border-bottom: 2px solid transparent;
  line-height: 60px;
}
.DX-header_nav-strip ul li a.is-active {
  border-bottom-color: #224098;
}
.DX-header_nav-strip ul li a:hover {
  border-bottom-color: #224098;
  color: #224098;
}
.DX-header_nav-strip ul li a:hover + ul.subnav {
  display: block;
}
.DX-header_nav-strip ul li a.sign-in {
  margin-left: 17.5px;
  border: 1px solid #E3245A;
  border-radius: 14px;
  padding: 3.5px 10px;
  font-size: 13px;
  line-height: 14px;
  color: #E3245A;
}
.DX-header_nav-strip ul li a.sign-in:hover {
  background-color: #E3245A;
  color: #FFFFFF;
}
.DX-header_nav-strip ul li a.sign-in:after {
  margin: 0 0 0 5px;
  font-size: 14px;
  content: "\0296C";
}
.DX-header_nav-strip_links {
  position: relative;
}
.DX-header_nav-strip_links ul.subnav {
  position: absolute;
  top: 64px;
  right: -10px;
  left: -10px;
  display: none;
  border-radius: 0 0 10px 10px;
  background: #FFFFFF;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.DX-header_nav-strip_links ul.subnav li:first-child {
  margin-top: 16px;
}
.DX-header_nav-strip_links ul.subnav li:last-child {
  margin-bottom: 16px;
}
.DX-header_nav-strip_links ul.subnav li a {
  margin: 0;
  color: #3E405A;
}
.DX-header_nav-strip_links ul.subnav li a:not(.sign-in) {
  display: block;
  padding: 6px 28px 6px;
  border: 0;
  line-height: 20px;
}
.DX-header_nav-strip_links ul.subnav li a:hover {
  color: #224098;
}
.DX-header_nav-strip_links ul.subnav li a > span {
  display: block;
  font-size: 12px;
  color: #747678;
}
.DX-header_nav-strip_links ul.subnav li.full {
  margin: 16px 0 0;
}
.DX-header_nav-strip_links ul.subnav li.full a {
  margin: 0;
  border-radius: 0 0 10px 10px;
  background: #f6f9fc;
  padding: 0 28px 0;
  font-size: 12px;
  line-height: 64px;
  text-transform: uppercase;
}
.DX-header_nav-strip_links ul.subnav li.full a:hover {
  color: #E3245A;
}
.DX-header_nav-strip_links ul.subnav li.full a:after {
  margin: 0 0 0 5px;
  font-weight: bold;
  color: #E3245A;
  content: "\02192";
}
.DX-header_nav-strip_links ul.subnav:hover {
  display: block;
}

.DX-hero {
  padding: 20px 20px 30px;
  background-color: transparent;
  color: #FFFFFF;
  border-color: transparent;
  background: url(//na-sj16.marketo.com/rs/284-ESC-480/images/masthead-dots-blue.png) center center repeat, linear-gradient(75deg, #14255b 10%, #224098 90%);
}
@media (min-width: 1160px) {
  .DX-hero {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 480px) {
  .DX-hero {
    padding: 20px 20px 50px;
  }
}
@media (min-width: 480px) and (min-width: 1160px) {
  .DX-hero {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 768px) {
  .DX-hero {
    padding: 30px 30px 70px;
  }
}
@media (min-width: 768px) and (min-width: 1180px) {
  .DX-hero {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 992px) {
  .DX-hero {
    padding: 30px 40px 80px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .DX-hero {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

.DX-hero_breadcrumb {
  margin: 0 0 40px;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
}
.DX-hero_breadcrumb a {
  color: #bcc5e0;
  text-decoration: none;
}
.DX-hero_breadcrumb a:hover {
  color: #FFFFFF;
}
.DX-hero_breadcrumb a:before {
  margin: 0 5px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #bcc5e0;
  content: "\02190";
}
@media (min-width: 480px) {
  .DX-hero_breadcrumb {
    margin: 0 0 30px;
  }
}
@media (min-width: 768px) {
  .DX-hero_breadcrumb {
    margin: 0 0 40px;
  }
}
@media (min-width: 992px) {
  .DX-hero_breadcrumb {
    margin: 0 0 50px;
  }
}
.DX-hero_title {
  margin: 0 0 10px;
  font-weight: 400;
  font-size: 24px;
}
.DX-hero_title-icon {
  position: relative;
  display: inline-block;
  margin-top: -2px;
  margin-left: 0.25em;
  background: transparent url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-experiment.svg) center center no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
}
.DX-hero_title-icon:after {
  display: none;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 6px solid #FFFFFF;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  padding: 0;
  width: 0;
  height: 0;
  content: "";
}
.DX-hero_title-icon_tip {
  display: none;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, -100%);
  border-radius: 5px;
  background: #FFFFFF;
  padding: 10px;
  width: 160px;
  height: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  font-family: Optimist, Arial, Helvetica, sans-serif;
  color: #3E405A;
}
.DX-hero_title-icon:hover {
  background-image: url(//na-sj16.marketo.com/rs/284-ESC-480/images/icon-experiment-hover.svg);
}
.DX-hero_title-icon:hover:after {
  display: block;
}
.DX-hero_title-icon:hover .DX-hero_title-icon_tip {
  display: block;
}
@media (min-width: 480px) {
  .DX-hero_title {
    font-size: 28px;
  }
  .DX-hero_title-icon {
    width: 18px;
    height: 18px;
  }
}
@media (min-width: 768px) {
  .DX-hero_title {
    font-size: 32px;
  }
  .DX-hero_title-icon {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 992px) {
  .DX-hero_title {
    font-size: 36px;
  }
  .DX-hero_title-icon {
    width: 22px;
    height: 22px;
  }
}
.DX-hero_description {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.6;
}
@media (min-width: 480px) {
  .DX-hero_description {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .DX-hero_description {
    width: 66.6666%;
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .DX-hero_description {
    width: 50%;
    font-size: 20px;
  }
}
.DX-hero_ctas {
  margin: 25px 0 0;
}
@media (min-width: 768px) {
  .DX-hero_ctas {
    margin: 30px 0 0;
  }
}
.DX-hero_ctas .button {
  display: inline-block;
  margin: 0 0 20px;
  border: 0;
  border-radius: 4px;
  background: #E3245A;
  padding: 0 1.2em;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}
.DX-hero_ctas .button:not(:last-child) {
  margin-right: 20px;
}
.DX-hero_ctas .button:hover {
  background: #B51C48;
}
.DX-hero_ctas .button--ghost {
  border: 1px solid #FFFFFF;
  background: transparent;
  line-height: 38px;
}
.DX-hero_ctas .button--ghost:hover {
  background: #FFFFFF;
  color: #14255b;
}

.DX-operations {
  padding: 40px 20px 40px;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 25%;
}
@media (min-width: 1160px) {
  .DX-operations {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 480px) {
  .DX-operations {
    padding: 60px 20px 60px;
  }
}
@media (min-width: 480px) and (min-width: 1160px) {
  .DX-operations {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 768px) {
  .DX-operations {
    padding: 80px 30px 80px;
  }
}
@media (min-width: 768px) and (min-width: 1180px) {
  .DX-operations {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 992px) {
  .DX-operations {
    padding: 100px 40px 100px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .DX-operations {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

.DX-operations_title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #0E1131;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.DX-operations_list {
  margin: 20px 0 0;
}
@media (min-width: 480px) {
  .DX-operations_list {
    margin: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .DX-operations_list {
    margin: 40px 0 0;
  }
}
@media (min-width: 992px) {
  .DX-operations_list {
    margin: 50px 0 0;
    width: 75%;
  }
}
.DX-operations_list-item {
  margin: 0;
  border-top: 2px solid #ECEDF0;
  padding: 20px 0;
}
@media (min-width: 480px) {
  .DX-operations_list-item {
    padding: 24px 0;
  }
}
@media (min-width: 768px) {
  .DX-operations_list-item {
    padding: 28px 0;
  }
}
@media (min-width: 992px) {
  .DX-operations_list-item {
    padding: 32px 0;
  }
}
.DX-operations_list-item:first-child {
  border: 0;
  padding-top: 0;
}
.DX-operations_list-item:last-child {
  padding-bottom: 0;
}
.DX-operations_list-item h4 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #0E1131;
}
.DX-operations_list-item p {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 16px;
  color: #3E405A;
}

.DX-features {
  padding: 40px 20px 40px;
}
@media (min-width: 1160px) {
  .DX-features {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 480px) {
  .DX-features {
    padding: 60px 20px 60px;
  }
}
@media (min-width: 480px) and (min-width: 1160px) {
  .DX-features {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 768px) {
  .DX-features {
    padding: 80px 30px 80px;
  }
}
@media (min-width: 768px) and (min-width: 1180px) {
  .DX-features {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 992px) {
  .DX-features {
    padding: 100px 40px 100px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .DX-features {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

.DX-features_title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #0E1131;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.DX-features_list {
  margin: 0;
}
@media (min-width: 768px) {
  .DX-features_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
}
.DX-features_list-item {
  position: relative;
  margin: 20px 0 0;
}
@media (min-width: 480px) {
  .DX-features_list-item {
    margin: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .DX-features_list-item {
    margin: 40px 30px 0 0;
    width: calc(50% - 30px);
    padding-left: 20px;
  }
  .DX-features_list-item:before {
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    background: #4EC6E1;
    width: 1px;
    height: 65px;
    content: "";
  }
}
@media (min-width: 992px) {
  .DX-features_list-item {
    margin: 50px 30px 0 0;
    width: calc(33.333% - 30px);
  }
}
.DX-features_list-item h4 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: #0E1131;
}
.DX-features_list-item p {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 16px;
  color: #3E405A;
}

.DX-use-cases {
  padding: 40px 20px 40px;
}
@media (min-width: 1160px) {
  .DX-use-cases {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 480px) {
  .DX-use-cases {
    padding: 60px 20px 60px;
  }
}
@media (min-width: 480px) and (min-width: 1160px) {
  .DX-use-cases {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 768px) {
  .DX-use-cases {
    padding: 80px 30px 80px;
  }
}
@media (min-width: 768px) and (min-width: 1180px) {
  .DX-use-cases {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 992px) {
  .DX-use-cases {
    padding: 100px 40px 100px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .DX-use-cases {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

.DX-use-cases_title {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  color: #0E1131;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1em;
}
.DX-use-cases_example {
  margin: 20px 0 0;
}
@media (min-width: 480px) {
  .DX-use-cases_example {
    margin: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .DX-use-cases_example {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 40px 0 0;
  }
}
@media (min-width: 992px) {
  .DX-use-cases_example {
    margin: 50px 0 0;
  }
}
@media (min-width: 768px) {
  .DX-use-cases_example--reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
}
@media (min-width: 768px) {
  .DX-use-cases_example-description {
    width: calc((100% - 30px) / 2);
  }
}
.DX-use-cases_example-description h4 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: #0E1131;
}
.DX-use-cases_example-description p {
  margin: 20px 0 0;
  font-weight: 400;
  font-size: 16px;
  color: #3E405A;
}
.DX-use-cases_example-media {
  margin: 20px 0 0;
}
@media (min-width: 480px) {
  .DX-use-cases_example-media {
    margin: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .DX-use-cases_example-media {
    width: calc((100% - 30px) / 2);
    margin: 0;
  }
}

.DX-feedback {
  padding: 40px 20px 40px;
}
@media (min-width: 1160px) {
  .DX-feedback {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 480px) {
  .DX-feedback {
    padding: 60px 20px 60px;
  }
}
@media (min-width: 480px) and (min-width: 1160px) {
  .DX-feedback {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 768px) {
  .DX-feedback {
    padding: 80px 30px 80px;
  }
}
@media (min-width: 768px) and (min-width: 1180px) {
  .DX-feedback {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 992px) {
  .DX-feedback {
    padding: 100px 40px 100px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .DX-feedback {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

.DX-feedback_title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: #0E1131;
  text-align: center;
}
@media (min-width: 480px) {
  .DX-feedback_title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .DX-feedback_title {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .DX-feedback_title {
    font-size: 24px;
  }
}
.DX-feedback_ctas {
  margin: 20px 0 0;
  text-align: center;
}
.DX-feedback_ctas .button {
  display: inline-block;
  margin: 0;
  border: 0;
  border-radius: 4px;
  background: #E3245A;
  padding: 0 1.2em;
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #FFFFFF;
  text-decoration: none;
}
.DX-feedback_ctas .button:hover {
  background: #B51C48;
}

.DX-access {
  padding: 40px 20px 40px;
}
@media (min-width: 1160px) {
  .DX-access {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 480px) {
  .DX-access {
    padding: 60px 20px 60px;
  }
}
@media (min-width: 480px) and (min-width: 1160px) {
  .DX-access {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 768px) {
  .DX-access {
    padding: 80px 30px 80px;
  }
}
@media (min-width: 768px) and (min-width: 1180px) {
  .DX-access {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 992px) {
  .DX-access {
    padding: 100px 40px 100px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .DX-access {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

.DX-access_title {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  color: #0E1131;
  text-align: center;
}
@media (min-width: 480px) {
  .DX-access_title {
    font-size: 21px;
  }
}
@media (min-width: 768px) {
  .DX-access_title {
    font-size: 22px;
  }
}
@media (min-width: 992px) {
  .DX-access_title {
    font-size: 24px;
  }
}
.DX-access_description {
  margin: 10px 0 0;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}
.DX-access_form {
  margin: 20px 0 0;
  text-align: center;
}
@media (min-width: 480px) {
  .DX-access_form {
    margin: 30px 0 0;
  }
}
@media (min-width: 768px) {
  .DX-access_form {
    margin: 40px 0 0;
  }
}
@media (min-width: 992px) {
  .DX-access_form {
    margin: 50px 0 0;
  }
}

.DX-footer {
  padding: 30px 20px 30px;
  background-color: transparent;
  color: #FFFFFF;
  border-color: transparent;
}
@media (min-width: 1160px) {
  .DX-footer {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}
@media (min-width: 480px) {
  .DX-footer {
    padding: 40px 20px 40px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }
}
@media (min-width: 480px) and (min-width: 1160px) {
  .DX-footer {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 768px) {
  .DX-footer {
    padding: 50px 30px 50px;
  }
}
@media (min-width: 768px) and (min-width: 1180px) {
  .DX-footer {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 992px) {
  .DX-footer {
    padding: 60px 40px 60px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .DX-footer {
    padding-right: calc((100% - 1120px) / 2);
    padding-left: calc((100% - 1120px) / 2);
  }
}

@media (min-width: 480px) {
  .DX-footer_links {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) {
  .DX-footer_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
  }
}
@media (min-width: 992px) {
  .DX-footer_links {
    width: calc((100% - 30px) * 0.6666);
  }
}
.DX-footer_links-list {
  width: 50%;
}
.DX-footer_links-list:not(:first-child) {
  margin: 40px 0 0;
}
@media (min-width: 480px) {
  .DX-footer_links-list {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .DX-footer_links-list {
    width: calc((100% - 30px) / 2);
  }
  .DX-footer_links-list:nth-child(2) {
    margin: 0;
  }
}
@media (min-width: 992px) {
  .DX-footer_links-list {
    width: calc((100% - 90px) / 4);
  }
  .DX-footer_links-list:not(:first-child) {
    margin: 0;
  }
}
.DX-footer_links-list h5 {
  margin: 0 0 10px;
  padding: 0 0 3px;
  border-bottom: 1px solid #bcc5e0;
  font-weight: 600;
  font-size: 14px;
}
.DX-footer_links-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.DX-footer_links-list ul li {
  padding: 6px 0;
  font-size: 14px;
  line-height: 20px;
}
.DX-footer_links-list ul li a {
  color: #bcc5e0;
  text-decoration: none;
}
.DX-footer_links-list ul li a:hover {
  color: #FFFFFF;
}
.DX-footer_links-list ul li a.external::after {
  display: inline-block;
  margin-left: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 10px;
  line-height: 20px;
  content: "\f35d";
  vertical-align: top;
}
.DX-footer_logo {
  margin: 40px 0 0;
}
@media (min-width: 480px) {
  .DX-footer_logo {
    margin: 0;
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 992px) {
  .DX-footer_logo {
    width: calc((100% - 30px) * 0.3333);
  }
}
.DX-footer_logo img {
  margin: 0;
  padding: 0;
  max-width: 60px;
  height: auto;
}
.DX-footer_logo p {
  margin: 10px 0 0;
  font-weight: 300;
  font-size: 12px;
}

/*# sourceMappingURL=codx2019-products.css.map */
