	/*
  	Flaticon icon font: Flaticon
  	Creation date: 08/08/2018 11:48
  	*/


@font-face {
  font-family: "Flaticon";
  src: url("/profiles/apigee/themes/apigee_responsive/swift/fonts/flaticon/font/Flaticon.eot");
  src: url("/profiles/apigee/themes/apigee_responsive/swift/fonts/flaticon/font/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/profiles/apigee/themes/apigee_responsive/swift/fonts/flaticon/font/Flaticon.woff") format("woff"),
       url("/profiles/apigee/themes/apigee_responsive/swift/fonts/flaticon/font/Flaticon.ttf") format("truetype"),
       url("/profiles/apigee/themes/apigee_responsive/swift/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/profiles/apigee/themes/apigee_responsive/swift/fonts/flaticon/font/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-guarantee:before { content: "\f100"; }
.flaticon-shield:before { content: "\f101"; }
.flaticon-support:before { content: "\f102"; }