 
      .HubHeader {
        background-color: #ffffff !important;
      }
    
        .HubHeaderItem:hover,
        .HubHeaderItem.is-active {
          color: #000000;
        }
      
      .HubBlock-tab.active {
        border-color: #000000 !important;
      }

      .markdown-body a {
        color: #000000;
      }

      .HubMain .text-active,
      .HubMain .hover\:text-active:hover,
      .HubMain .HubBlock-tab:hover {
        color: #000000 !important;
      }
    
      .HubMain .ui.secondary.button {
        background-color: #df7b09;
      }
     