
/*-------------------- banner --------------------------*/
#banner-container {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  display: table;
}
#banner {
  height: 300px;
  display: table-cell;
  vertical-align: middle;
  table-layout: fixed;
}
#banner h2 {
  max-width: 1024px;
  margin: 0 auto;
  font-family: SansSemiBold;
  color: #FFFFFF;
  font-size: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
}
#banner h4 {
  max-width: 1024px;
  margin: 0 auto;
  font-family: SansPlain;
  font-size: 20px;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}
#banner p {
  max-width: 1024px;
  margin: 0 auto;
  font-family: SansLight;
  font-size: 22px;
  color: #FFFFFF;
  padding-left: 15px;
  padding-right: 15px;
}
/*------------------------ api-subnav -------------------------*/
#api-nav {
  width: 100%;
  height: 60px;
  background-color: #F2F2F2;
}
#api-nav ul {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 15px;
  list-style-type: none;
  vertical-align: middle;
}
#api-nav ul li a {
  padding: 0px;
  margin-right: 20px;
  float: left;
  height:41px;
  text-decoration: none;
  font-family: SansLight;
  color: #4a4a4a;
  font-size: 18px;
}
#api-nav ul>li>a:active, #api-nav ul>li>a:hover{
  border-bottom: 4px solid crimson;
  color: crimson;
}

#api-nav .api-nav-active{
  font-family: SansPlain;
  border-bottom: 4px solid crimson;
  color: crimson !important;
}

#get-access {
  color: crimson;
  font-size: 18px;
  width: 130px;
  margin-top: -12px;
  padding: 8px 15px;
  border: 2px solid crimson;
  border-radius: 5px;
  float: right;
  text-align: center;
}
/*--------------------- api-content ------------------------*/
#api-content {
  width: 100%;
  background: #FBFBFB;
}
#api-features-list {
  width: 100%;
  max-width: 1024px;
  display: block;
  margin: 0 auto;
}
#api-features-list h2 {
  height: 120px;
  text-align: center;
  margin-top: 0;
  padding-top: 45px;
  font-family: SansLight;
  font-size: 30px;
  color: #4a4a4a;
}

#api-features-list h2, #api-usecase-list h2 {
  position: relative;
  text-align: center;
}

#api-features-list h2 span, #api-usecase-list h2 span {
  background: #fbfbfb;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

#api-features-list h2:before, #api-usecase-list h2:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
}

#api-features-list h2:before, #api-usecase-list h2:before {
  left: 0;
}

.features-3 {
  display: block;
  width: 30%;
  float: left;
  margin-right: 5%;
  padding-left: 15px;
}

.features-2 {
  display: block;
  width: 45%;
  float: left;
  margin-right: 3%;
  padding-left: 15px;
}
#apis-features-last-element {
  width: 30%;
  margin-right: 0px;
}
#apis-features-2-last-element {
  width: 45%;
  margin-right: 0px;
  margin-left: 51px;
}
.api-features h4 {
  font-family: SansLight;
  font-size: 24px;
  color: #4a4a4a;
}
.api-features p {
  font-family: SansLight;
  font-size: 18px;
  color: #4a4a4a;
  width: 99%;
}
.left {
  float: left;
}
.right {
  float: right;
}
.usecase {
  width: 100%;
  height: 370px;
  padding: 20px 20px 60px 20px;
}
.usecase-row {
  width: 100%;
  display: table;
}
.usecase-row img {
  width: 410px;
  height: 260px;
}
#api-usecase-list {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  clear: both;
  padding-bottom: 70px;
}
#api-usecase-list h2 {
  height: 120px;
  padding-top: 45px;
  font-family: SansLight;
  font-size: 30px;
  color: #4a4a4a;
  text-align: center;
}
#api-usecase-list h4 {
  font-family: SansLight;
  font-size: 24px;
  color: #4a4a4a;
  text-align: center;
  padding-bottom: 10px;
}
#api-usecase-list p {
  width: 42%;
  font-family: SansLight;
  font-size: 18px;
  color: #4a4a4a;
  display: table-cell;
  vertical-align:middle;
}
.left-p {
  float: left;
  padding-top: 10%;
}

.navbar>.container-fluid .navbar-brand {
  padding-top:12px;
}


/*------------------ Talk to us --------------------------*/
#talk-to-us {
  height: 311px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
}
#talk-to-us h2 {
  font-family: SansSemiBold;
  color: #FFFFFF;
  margin-top: 0px;
  font-size: 30px;
  padding-top: 90px;
}
#talk-to-us p {
  max-width: 430px;
  margin: 0 auto;
  font-family: SansLight;
  color: #FFFFFF;
  font-size: 16px;
}
.mobile-show {
  display: none;
}
/*----------------------- responsive design ----------------------------*/
@media screen and (max-width: 768px)
{
  #api-nav ul {
    padding: 20px 5px;
  }
  .mobile-hide {
    display: none !important;
  }
  .mobile-show {
    display: block;
  }
  #banner h2, #banner h4, #banner p {
    padding-left: 20px;
  }
  #banner br {
    display: none;
  }
  #api-nav {
    padding-left: 15px;
  }
  .features-3, #apis-features-last-element {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align:left;
  }

  .features-2, #apis-features-2-last-element {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left:0px;
    text-align:left;
  }
  #api-usecase-list p {
    width: 100%;
    display: block;
  }
  #api-usecase-list img {
    width: auto;
    display: block;
    margin: 0 auto;
  }
  .usecase {
    height: auto;
    overflow-y: auto;
  }
  .right, .left {
    float: none;
  }

  #api-usecase-list h4 {
    width: 100%;
    padding-left: 0px;
    padding-bottom: 20px;
    padding-right: 20px;
    text-align:left;
  }
}
@media screen and (max-width: 640px) {
  #api-nav {
    padding-left: 15px;
  }
}
/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (min-width: 440px) and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
  .features-3, #apis-features-last-element {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 20px;
    text-align:left;
  }

  .features-2, #apis-features-2-last-element {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left:0;
  }
  #api-usecase-list img {
    width: 100%;
  }
  .api-features,.usecase {
    text-align:left;
  }
  #api-nav ul li a {
    margin-right: 10px;
  }
}
@media screen and (max-width: 440px) {
  #api-nav ul li a {
    margin-right: 10px;
    font-size: 14px;
  }
}
