
/*-------------------- banner --------------------------*/
#banner h4 {
  max-width: 1024px;
  margin: 0 auto;
  font-family: SansPlain;
  font-size: 24px;
  color: #FFFFFF;
}

/*--------------------- api-content ------------------------*/
.content{
  background-color: white;
  width: 100%;
  font-family: SansLight;
}

#api-content{
  height: 1200px;
  max-width: 1024px;
  margin: 0 auto;
  background-color: #fff;
}
.api_urls {
  overflow: auto;
}
.side-nav-cont{
  width: 20%;
  float: left;
  display: inline-block;
  clear: left;
  padding-top: 30px;
  margin-left: -40px;
  height: 1200px;
}
.side-nav-cont ul li{
  color: #4a4a4a;
  font-size: 18px;
  font-family: SansLight;
  padding: 10px 5px;
  cursor: pointer;
  list-style-type: none;
  margin-left: 10px;
}

.side-nav-cont ul li:hover{
  color: crimson;
}


.right-content{
  width: 80%;
  float: left;
  height: auto;
  padding: 12px 40px 20px 40px;
  border-left: 1px solid #aaa;
}

#condition{
  color: #4a4a4a;
  font-family: SansPlain;
}

#condition:hover{
  text-decoration: none;
}
ol li {
  padding-bottom: 5px;
}

.borderless td{
  border: none !important;
}

th {
  background-color: #4a4a4a;
  color: #fff;
}

.table-curved {
    border-collapse: separate;
}
.table-curved {
    border: solid #ccc 1px;
    border-radius: 4px;
    border-left:0px;
}
.table-curved td, .table-curved th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.table-curved th {
    border-top: none;
}
.table-curved th:first-child {
    border-radius: 4px 0 0 0;
}
.table-curved th:last-child {
    border-radius: 0 4px 0 0;
}
.table-curved th:only-child{
    border-radius: 4px 4px 0 0;
}
.table-curved tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.table-curved tr:last-child td:last-child {
    border-radius: 0 0 4px 0;
}


.table-bordered>thead>tr>th {
  border: none;
}


/*------------------ Talk to us --------------------------*/
#talk-to-us {
  height: 311px;
  text-align: center;
}
#talk-to-us h2 {
  font-family: SansSemiBold;
  color: #FFFFFF;
  font-size: 30px;
  padding-top: 70px;
}
#talk-to-us p {
  font-family: SansLight;
  color: #FFFFFF;
  font-size: 18px;
}
#talk-to-us a {
  display: block;
  margin: 0 auto;
  width: 132px;
  height: 37px;
  background: url(../img/12_button_talktous.png) no-repeat;
  background-position: center;
  background-color: rgba(255,255,255,0.1);
  text-align: center;
  text-decoration: none;
  border-radius: 2px;
  font-family: SansSemiBold;
  color: #FFFFFF;
  font-size: 18px;
  padding-top: 7px;
}

.code_indent_1{
  padding-left:20px;
}

.code_indent_2{
  padding-left:40px;
}

.code_indent_3{
  padding-left:60px;
}

.code_indent_4{
  padding-left:80px;
}

.code_indent_5{
  padding-left:100px;
}

.code_indent_6{
  padding-left:120px;
}

.code_indent_7{
  padding-left:140px;
}

.code_indent_8{
  padding-left:160px;
}

.code_indent_9{
  padding-left:180px;
}

.code_indent_10{
  padding-left:200px;
}

.code_indent_11{
  padding-left:220px;
}

/*----------------------- responsive design ----------------------------*/
@media screen and (max-width: 768px)
{
  .side-nav-cont{
    display: none;
  }

  #banner h2, #banner h4, #banner p {
    padding-left: 20px;
  }
  #banner br {
    display: none;
  }
  .overview, .authorization, .testing {
    width: 100%;
    padding-left: 10px;
    padding-bottom: 20px;
    text-align:center;
  }
  .right-content{
    width: 100%;
    height: auto;
    padding: 12px 20px;
  }

  .right, .left {
    float: none;
  }
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }}
