<!--
    Copyright 2016 MasterCard International.

    Redistribution and use in source and binary forms, with or without modification, are
    permitted provided that the following conditions are met:

    Redistributions of source code must retain the above copyright notice, this list of
    conditions and the following disclaimer.
    Redistributions in binary form must reproduce the above copyright notice, this list of
    conditions and the following disclaimer in the documentation and/or other materials
    provided with the distribution.
    Neither the name of the MasterCard International Incorporated nor the names of its
    contributors may be used to endorse or promote products derived from this software
    without specific prior written permission.
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
    EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
    OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
    SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
    TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
    OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
    IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
    IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
    SUCH DAMAGE.
-->
<!DOCTYPE html>
<html class="no-js" lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
        <meta charset="UTF-8">
        <title>Merchant Identifier Reference App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

        <link href="font.css" type="text/css" rel="stylesheet">
        <link href="ionic-app_data/ionic.css" type="text/css" rel="stylesheet">
        <link href="ionic-app_data/ionic_002.css" type="text/css" rel="stylesheet">

        <!-- ionic/angularjs js -->
        <script src="ionic-app_data/js.js"></script>
        <script src="ionic-app_data/ionic.js"></script>
        <script src="ionic-app_data/lodash.js"></script>
        <script src="ionic-app_data/angular-simple-logger.js"></script>
        <script src="ionic-app_data/isoCurrency.js"></script>
        <script src="ionic-app_data/ng-map.js"></script>
        <script src="ionic-app_data/moment.js"></script>
        <script src="ionic-app_data/angular-moment.js"></script>

        <!-- your app's js -->
        <script src="ionic-app_data/app.js"></script>
        <script src="ionic-app_data/controllers.js"></script>
        <script src="ionic-app_data/routes.js"></script>
        <script src="ionic-app_data/services.js"></script>
        <script src="ionic-app_data/filters.js"></script>
        <script src="ionic-app_data/api.js"></script>
    </head>

    <body ng-app="mcdapimid" class="grade-a platform-browser platform-macintel platform-ready">
        <ion-nav-bar class="bar-positive nav-bar-container" nav-bar-transition="ios" nav-bar-direction="none" nav-swipe="">
            <ion-nav-back-button class="hide"></ion-nav-back-button>
        <div class="nav-bar-block" nav-bar="cached"><ion-header-bar class="bar-positive bar bar-header" align-title="center"><button class="button back-button hide buttons button-icon icon header-item" ng-click="$ionicGoBack()">
                <img class="back-arrow" src="ionic-app_data/back.svg">
            <span class="back-text"></span></button><div class="title title-center header-item"></div></ion-header-bar></div><div class="nav-bar-block" nav-bar="active"><ion-header-bar class="bar-positive bar bar-header" align-title="center"><button class="button back-button hide buttons button-icon icon header-item" ng-click="$ionicGoBack()">
                <img class="back-arrow" src="ionic-app_data/back.svg">
            <span class="back-text"></span></button><div class="title title-center header-item">Recent Transactions</div></ion-header-bar></div></ion-nav-bar>
        <ion-nav-view class="view-container" nav-view-transition="ios" nav-view-direction="none" nav-swipe=""><ion-view view-title="Recent Transactions" class="pane" state="accountDetails" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
    <ion-content class="scroll-content ionic-scroll  has-header"><div class="scroll" style="transform: translate3d(0px, 0px, 0px) scale(1);">
        <div class="list">
            <div class="item-divider ng-binding">
                August 20th, 2019
            </div>
            <!-- ngRepeat: tran in account.transactions --><a class="item" ui-sref="transactionDetails({accountId: account.id, id: tran.id})" ng-repeat="tran in account.transactions" href="#/transaction-details/1/6" style="">
                <div class="item-container">
                    <div class="item-image-icon">
                        <img ng-src="images/restaurant.svg" src="ionic-app_data/restaurant.svg">
                    </div>

                    <div class="item-merchant-name ng-binding">
                        Xiang Signature
                    </div>

                    <div class="item-price">
                        <span class="ng-binding">-$6.50</span>
                        <img class="arrow" src="ionic-app_data/arrow.svg">
                    </div>
                </div>
            </a><!-- end ngRepeat: tran in account.transactions --><a class="item" ui-sref="transactionDetails({accountId: account.id, id: tran.id})" ng-repeat="tran in account.transactions" href="#/transaction-details/1/5">
                <div class="item-container">
                    <div class="item-image-icon">
                        <img ng-src="images/shopping.svg" src="ionic-app_data/shopping.svg">
                    </div>

                    <div class="item-merchant-name ng-binding">
                        7-Eleven
                    </div>

                    <div class="item-price">
                        <span class="ng-binding">-$10.99</span>
                        <img class="arrow" src="ionic-app_data/arrow.svg">
                    </div>
                </div>
            </a><!-- end ngRepeat: tran in account.transactions --><a class="item" ui-sref="transactionDetails({accountId: account.id, id: tran.id})" ng-repeat="tran in account.transactions" href="#/transaction-details/1/4">
                <div class="item-container">
                    <div class="item-image-icon">
                        <img ng-src="images/coffee.svg" src="ionic-app_data/coffee.svg">
                    </div>

                    <div class="item-merchant-name ng-binding">
                        Starbucks Cofee
                    </div>

                    <div class="item-price">
                        <span class="ng-binding">-$4.50</span>
                        <img class="arrow" src="ionic-app_data/arrow.svg">
                    </div>
                </div>
            </a><!-- end ngRepeat: tran in account.transactions --><a class="item" ui-sref="transactionDetails({accountId: account.id, id: tran.id})" ng-repeat="tran in account.transactions" href="#/transaction-details/1/3">
                <div class="item-container">
                    <div class="item-image-icon">
                        <img ng-src="images/cart.svg" src="ionic-app_data/cart.svg">
                    </div>

                    <div class="item-merchant-name ng-binding">
                        Takashimaya
                    </div>

                    <div class="item-price">
                        <span class="ng-binding">-$84.63</span>
                        <img class="arrow" src="ionic-app_data/arrow.svg">
                    </div>
                </div>
            </a><!-- end ngRepeat: tran in account.transactions --><a class="item" ui-sref="transactionDetails({accountId: account.id, id: tran.id})" ng-repeat="tran in account.transactions" href="#/transaction-details/1/2">
                <div class="item-container">
                    <div class="item-image-icon">
                        <img ng-src="images/fastfood.svg" src="ionic-app_data/fastfood.svg">
                    </div>

                    <div class="item-merchant-name ng-binding">
                        CAFETERIA
                    </div>

                    <div class="item-price">
                        <span class="ng-binding">-$14.63</span>
                        <img class="arrow" src="ionic-app_data/arrow.svg">
                    </div>
                </div>
            </a><!-- end ngRepeat: tran in account.transactions --><a class="item" ui-sref="transactionDetails({accountId: account.id, id: tran.id})" ng-repeat="tran in account.transactions" href="#/transaction-details/1/1">
                <div class="item-container">
                    <div class="item-image-icon">
                        <img ng-src="images/shopping.svg" src="ionic-app_data/shopping.svg">
                    </div>

                    <div class="item-merchant-name ng-binding">
                        Toy's R Us
                    </div>

                    <div class="item-price">
                        <span class="ng-binding">-$55.00</span>
                        <img class="arrow" src="ionic-app_data/arrow.svg">
                    </div>
                </div>
            </a><!-- end ngRepeat: tran in account.transactions -->
        </div>
    </div><div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out" style="transform: translate3d(0px, 0px, 0px) scaleY(1); height: 20px;"></div></div></ion-content>
</ion-view></ion-nav-view>
    
</body></html>