/*
 * Copyright 2016 MasterCard International.
 *
 * Redistribution and use in source and binary forms, with or without modification, are
 * permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this list of
 * conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of
 * conditions and the following disclaimer in the documentation and/or other materials
 * provided with the distribution.
 * Neither the name of the MasterCard International Incorporated nor the names of its
 * contributors may be used to endorse or promote products derived from this software
 * without specific prior written permission.
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
 * OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
 * SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 * TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
 * IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
 * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 */
.main-container, .main-container header.header-container, .main-container header.header-container .header-logo-title, .main-container header.header-container .header-documentation, .main-container .content-container .mobile-menu-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

html {
  font-size: 62.5%; }

body {
  width: 100%;
  font-size: 1.2rem;
  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  background-color: #E6EAEC; }

.main-container {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 100%; }
  .main-container .menu-icon, .main-container .menu-icon-close {
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    cursor: pointer;
    display: none;
    background: url("./../images/menu.svg"); }
    @media (max-width: 768px) {
      .main-container .menu-icon, .main-container .menu-icon-close {
        display: block; } }
  .main-container .menu-icon-close {
    width: 1.7rem;
    height: 1.7rem;
    background: url("./../images/close.svg"); }
  .main-container header {
    background: white; }
  .main-container header.header-container {
    width: 100%;
    height: 7.2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    border-bottom: 1px solid #cccccc; }
    @media (max-width: 768px) {
      .main-container header.header-container {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        height: 9rem; } }
    .main-container header.header-container .header-logo-title {
      font-size: 2rem;
      margin-left: 3rem; }
      @media (max-width: 768px) {
        .main-container header.header-container .header-logo-title {
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center;
          margin-left: 0; } }
      @media (max-width: 996px) {
        .main-container header.header-container .header-logo-title {
          margin-left: 1.2rem; } }
      @media (max-width: 320px) {
        .main-container header.header-container .header-logo-title {
          font-size: 1.3rem; } }
      .main-container header.header-container .header-logo-title .logo {
        margin-right: 1.5rem; }
        @media (max-width: 768px) {
          .main-container header.header-container .header-logo-title .logo {
            display: none; } }
        .main-container header.header-container .header-logo-title .logo img {
          width: 13.1rem;
          height: 3rem; }
      .main-container header.header-container .header-logo-title .logo-mobile {
        display: none; }
        @media (max-width: 768px) {
          .main-container header.header-container .header-logo-title .logo-mobile {
            display: block; } }
      .main-container header.header-container .header-logo-title .title {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        font-size: 2rem;
        font-family: 'FfMarkLight', 'Helvetica', Arial, sans-serif; }
        @media (max-width: 996px) {
          .main-container header.header-container .header-logo-title .title {
            font-size: 1.5rem; } }
        @media (max-width: 320px) {
          .main-container header.header-container .header-logo-title .title {
            font-size: 1.2rem; } }
    .main-container header.header-container .header-documentation {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-right: 3rem; }
      @media (max-width: 768px) {
        .main-container header.header-container .header-documentation {
          display: none; } }
      @media (max-width: 996px) {
        .main-container header.header-container .header-documentation {
          margin-right: 1.2rem; } }
      .main-container header.header-container .header-documentation a {
        font-family: 'Helvetica', Arial, sans-serif;
        text-decoration: none;
        color: #FD9827;
        font-size: 1.4rem;
        line-height: 4rem; }
      .main-container header.header-container .header-documentation .documentation-button a {
        width: 21rem;
        height: 4rem;
        background-color: #fd9827;
        color: white;
        border-radius: 4px;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        margin-left: 3rem; }
        @media (max-width: 996px) {
          .main-container header.header-container .header-documentation .documentation-button a {
            width: 17rem;
            margin-left: 1rem; } }
  .main-container .content-container .iframe-view {
    width: 50rem;
    height: calc(100vh - 20rem);
    margin-top: 6.3rem;
    margin-bottom: 6.3rem;
    border: 0; }
    @media (max-width: 768px) {
      .main-container .content-container .iframe-view {
        width: 100vw;
        height: calc(100vh - 9rem);
        margin-bottom: 0;
        margin-top: 0; } }
  .main-container .content-container .iframe-view-no-header {
    height: calc(100vh - 4rem);
    margin-top: 2rem;
    margin-bottom: 2rem; }
    @media (max-width: 768px) {
      .main-container .content-container .iframe-view-no-header {
        height: 100vh; } }
    @media (max-width: 320px) {
      .main-container .content-container .iframe-view-no-header {
        margin-top: 0;
        margin-bottom: 0; } }
  .main-container .content-container .mobile-menu-overlay {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background: white;
    width: 100vw;
    height: calc(100vh - 9rem);
    padding: 2rem; }
    .main-container .content-container .mobile-menu-overlay a {
      display: inline-block;
      font-size: 2rem;
      font-family: 'FfMarkLight', 'Helvetica', Arial, sans-serif;
      color: #262626;
      text-decoration: none;
      line-height: 4.5rem; }
  .main-container .hide {
    display: none !important; }

/*# sourceMappingURL=../../../../main.css.map */