/*
 * Copyright 2016 MasterCard International.
 *
 * Redistribution and use in source and binary forms, with or without modification, are
 * permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this list of
 * conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of
 * conditions and the following disclaimer in the documentation and/or other materials
 * provided with the distribution.
 * Neither the name of the MasterCard International Incorporated nor the names of its
 * contributors may be used to endorse or promote products derived from this software
 * without specific prior written permission.
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
 * OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
 * SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 * TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
 * IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
 * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 */
.bar .button.back-button, .item .item-container, .item .item-container .item-image-icon, .item .item-container .item-merchant-name, .item .item-container .item-price, .item .item-container .item-price-large, .item .item-details .item-details-address, .back-arrow, .google-map-marker {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

html {
  font-size: 62.5%; }

.bar-header {
  height: 6rem; }

.bar .title {
  font-family: FfMarkMedium, Helvetica, SansSerif;
  font-size: 2rem;
  height: 6rem;
  line-height: 6rem; }
.bar .button.back-button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
.bar .back-button.hide {
  display: none !important; }

.bar.bar-positive {
  background: #4FCCAF;
  border-color: #4FCCAF; }

.has-header {
  top: 6rem; }

.item-divider {
  font-family: FfMarkMedium, Helvetica, SansSerif;
  font-size: 1.2rem;
  text-align: center;
  color: #999999;
  height: 3rem;
  line-height: 3rem;
  padding: 0;
  font-weight: bold; }

.item {
  padding: 1rem 2rem;
  font-family: FfMarkLight, Helvetica, SansSerif;
  min-height: 6rem; }
  @media (max-width: 320px) {
    .item {
      font-size: 1.2rem; } }
  @media (max-width: 260px) {
    .item {
      padding-left: 0;
      padding-right: 0; } }
  .item .item-container .item-image-icon {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    flex-grow: 0;
    width: 5rem;
    height: 5rem;
    border: 1px solid #E5E5E5;
    border-radius: 50%; }
    .item .item-container .item-image-icon img {
      width: 2.4rem;
      height: 2.4rem; }
  .item .item-container .item-merchant-name {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding-left: 1.2rem;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 1.6rem; }
    @media (max-width: 260px) {
      .item .item-container .item-merchant-name {
        font-size: 1.3rem; } }
  .item .item-container .item-price, .item .item-container .item-price-large {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    flex-grow: 0;
    font-size: 1.6rem; }
    .item .item-container .item-price .arrow, .item .item-container .item-price-large .arrow {
      margin-left: 1rem; }
  .item .item-container .item-price-large {
    font-size: 2.6rem; }
  .item .item-container .item-label {
    color: #999999;
    font-family: Helvetica;
    font-size: 1.4rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center; }
    @media (max-width: 260px) {
      .item .item-container .item-label {
        font-size: 1.3rem; } }
  .item .item-details {
    color: #222222;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    line-height: 4rem; }
    .item .item-details .item-details-address {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: right;
      line-height: 2.3rem; }
      @media (max-width: 260px) {
        .item .item-details .item-details-address {
          font-size: 1rem; } }

.transaction-details-google-map {
  height: calc(100vh - 37rem); }
  @media (max-width: 320px) {
    .transaction-details-google-map {
      height: 30rem; } }

.back-text .default-title {
  display: none; }

.back-arrow {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 2rem;
  padding-left: 1rem; }

.google-map-marker {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #4FCCAF;
  border: 1px solid #E5E5E5; }
  .google-map-marker img {
    filter: invert(100%);
    width: 2.4rem;
    height: 2.4rem; }

/*# sourceMappingURL=../../../../ionic.app.customize.css.map */