.head-cont {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: table;
  height: 300px;
}
.jumbotron{
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  background-color: transparent;
  max-width: 1024px;
  margin: 0 auto;
}

.jumb-text h1{
  max-width: 1024px;
  color: #fff;
  font-size: 36px;
  font-family: SansSemiBold;
  margin: 20px auto 5px auto;
}

.jumb-text p{
  max-width: 1024px;
  margin: 0px auto 20px auto;
  color: #fff;
  font-size: 22px;
  font-family: SansLight;
}

.feat-product-cont{
  width: 100%;
  height: 520px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fbfbfb;
}

.announcements-cont{
  width: 100%;
  height: 240px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fbfbfb;
}

.announcement-head{
  position: relative;
  max-width: 1024px;
  margin: auto;
}

.announcement-head p{
  text-align: center;
  position: relative;
  font-family: SansLight;
  font-size: 30px;
  color: #4a4a4a;
  padding-top: 40px;
  height: 100px;
}

.announcement-head span {
  background: #fbfbfb;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.announcement-head:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 60%;
  width: 100%;
  left:0;
}

.announcements-content-left{
  width: 50%;
  float: left;

}

.announcements-content-right{
  width: 50%;
  float: left;
}

.announcement-item{
  position: relative;
  max-width: 1024px;
  margin: auto;
  height: 100px;
}

.announcement-item img{
  max-width: 80px;
  max-height: 60px;
  margin: 0 15px 0 15px;
}

.announcements-content-img{
  float: left;
  height: 150px;
}

.announcement-desc-right{
  font-family: SansLight;
  margin-right: 40px;
}

.announcement-desc-right span{
  font-size: 18px;
  font-weight: bold;
}


@media only screen and (max-width: 768px) {

  .announcements-cont{
    height: auto;
    overflow: auto;
  }

  .announcements-content-left {
    width: 100%;
  }

  .announcements-content-right {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }
}

#feat-head{
  position: relative;
  max-width: 1024px;
  margin: auto;
}

#feat-head p{
  text-align: center;
  position: relative;
  font-family: SansLight;
  font-size: 30px;
  color: #4a4a4a;
  padding-top: 40px;
  height: 120px;
}

#feat-head span {
  background: #fbfbfb;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

#feat-head:before {
  background: #ddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 50%;
  width: 100%;
  left:0;
}

.feat-end{
  text-align: center;
  display: block;
  margin: 0 auto;
}

.feat-end p {
  padding-top: 310px;
  font-family: SansPlain;
  font-size: 18px;
  color: #4a4a4a;
}

.feat-end a:hover {
  color: #d8232a;
}
.feat-main{
  max-width: 1024px;
  display: block;
  margin: 0 auto;
}

.feat-left{
  width: 50%;
  float: left;
}

.feat-left h1{
  font-family: SansPlain;
  font-size: 30px;
  color: #4a4a4a;
}

.feat-left p{
  font-family: SansPlain;
  font-size: 20px;
  color: #4a4a4a;
  width: 80%;
}

.feat-left ul{
  font-family: SansLight;
  font-size: 18px;
  color: #4a4a4a;
  margin-left: -20px;
  margin-bottom: 20px;
}

.feat-right{
  width: 50%;
  float: left;
}
.feat-right img {
  float: right;
}
.getstarted-cont{
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 560px;
  padding-top: 80px;
  padding-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.getstarted-cont p{
  text-align: center;
  font-family: SansLight;
  font-size: 30px;
  color: #fff;
}

.sub-text{
  padding-top: 10px;
}

#p-short{
  width: 70%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0 auto;
  text-align: center;
  max-width: 1024px;
  display: block;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 2%;
  border: 1px solid white;
  border-radius: 5px;
}

.col p {
  font-size: 18px;
  font-family: SansLight;
  height: 90px;
  width: 250px;
  margin: 0 auto;
}

.col h3 {
  font-size: 24px;
  font-family: SansPlain;
  padding-bottom: 5px;
}

.dis-none{
  display: none !important;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66%; }
.span_1_of_3 { width: 32%; }

.span_1_of_3 , .span_2_of_3 , .span_3_of_3 {
  padding-top: 30px;
  background-color:rgba(0,0,0,0.4);
  color: #fff;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

.learn-btn {
  color: crimson;
  background-color: transparent;
  border: 1px solid crimson;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-top: 3px;
}

.learn-btn:hover, .learn-btn:active, .learn-btn:focus {
  color: white !important;
  background-color: #D8232A !important;
  border: 1px solid #D8232A;
}
/*------------------ IPAD ----------------------*/
@media only screen and (max-width: 1024px) {
  .jumbotron {
    padding: 0 5%;
  }
  .feat-left {
    width: 50%;
    margin: 0 5%;
  }
  .feat-right {
    width: 40%;
  }
}
@media only screen and (max-width: 768px) {
  .jumbotron {
    padding: 0 15px;
  }
  .feat-product-cont {
    height: auto;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }
  .feat-left {
    width: 100%;
    margin: 10px 5px 0;
  }
  .feat-end p {
    padding-bottom: 30px;
  }
  .learn-btn {
    margin-bottom: 30px;
  }
  .dis-none{
    display: block !important;
  }

  .feat-right {
    width: 100%;
    display: none;
  }
  .feat-right img{
    width: 55%;
    min-width: 348px;
    display: block;
    margin: 0 auto;
    float: none;
  }
  .col {
    width: 75%;
    display: block;
    margin: 50px auto !important;
    float: none;
  }
  .getstarted-cont{
    height: auto;
    overflow: auto;
    padding: 40px 0;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 480px) {
  .jumbotron {
    max-width: 350px;
  }

  .feat-left{
    display: block;
    margin: 0 12%;
    float: none;
    overflow: hidden;
    width: auto;
    padding: 0;
  }
  .feat-left h1 {
    font-size: 26px;
  }
  .feat-left p{
    width: 100%;
    font-size: 19px;
    margin: 20px auto;
  }
  .feat-left ul {
    font-size: 17px;
  }
  .feat-right{
    width: auto;
    display: none;
    float: none;
    overflow: auto;
    margin: 0 auto;
  }

  .feat-right img{
    width: 80%;
    min-width: 0;
  }

  .feat-main {
    height: auto;
    overflow: auto;
    padding-top: 0;
  }

  .feat-product-cont {
    width: 100%;
    height: auto;
    overflow: auto;
    background-color: #fbfbfb;
  }

  .feat-end p {
    padding-top: 0;
    padding-bottom: 30px;
  }

}
