/*------------------------FONT-------------------------*/

@font-face {
    font-family: SansBold;
    src: url("../fonts/TheSans/TheSansB-W6SeBld.otf");
    src: url("../fonts/TheSans/TheSansB-W6SeBld.woff");
}

@font-face {
    font-family: SansLight;
    src: url("../fonts/TheSans/TheSansB-W3Lig.otf");
    src: url("../fonts/TheSans/TheSansB-W3Lig.woff");
}

@font-face {
    font-family: SansPlain;
    src: url("../fonts/TheSans/TheSansB-W5Pla.otf");
    src: url("../fonts/TheSans/TheSansB-W5Pla.woff");
}

@font-face {
    font-family: SansSemiBold;
    src: url("../fonts/TheSans/TheSansB-W6SeBld.otf");
    src: url("../fonts/TheSans/TheSansB-W6SeBld.woff");
}

/*-------------------------IMPORTANT------------------*/

input[type="text"], textarea {

}

/*------------------------BUTTON---------------------*/

.btn {
    color: #fff;
    background-color: #D8232A;
    border: none;
    font-family: SansLight;
    display: inline-block;
    padding: 7px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #9D0A0F;
    color: white;
    border: none;
    padding: 7px 12px;
}

.btn:focus {
    background-color: #9D0A0F !important;
    color: white;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:active:hover, .btn:active {
    background-color: #9D0A0F !important;
    color: white !important;
    border: #9D0A0F;
}

/*-------------------------Trans Btn---------------------------*/

.btn-primary-index {
    color: #fff;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 9px 12px;
}

.btn-primary-index:hover, .btn-primary-index:focus, .btn-primary-index:active, .btn-primary-index:active:hover {
    color: #000 !important;
    background-color: white !important;
    border: 1px solid white;
    padding: 9px 12px;
}

/*------------------------NAV BAR---------------------*/
.navbar {
    border-radius: 0px;
    margin-bottom: 0px;
    z-index: 9;
}

.navbar-nav>li>a {
    cursor: pointer;
}
.nav-padding {
    height: 60px;
    font-family: SansLight;
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .container-fluid {
    max-width: 1024px;
    padding-left: 0px;
    padding-right: 0px;
}

.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
    padding: 12px 0;
}

.navbar-brand > img {
    width: 172px;
    height: 37px;
}

.navbar-header {
    margin-top: -2px;
}

.navbar-default .navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
}

.sub-nav {
    margin-top: 5px;
}

.top_menu_signUp {
    width: 60px;
    height: 27px;
    margin-top: 12px;
}

.signup-btn {
    height: 30px;
    border-radius: 5px;
    color: #fff;
    border: 0px;
    float: left;
    margin-left: 10px;
}

.signup-btn:hover {
    color: #fff;
    border: 0px;
}

#signup-anchor {
    display: none;
}

#sign-up {
    color: #777;
    padding: 15px;
}

.navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:hover, .navbar-nav > li > a[aria-expanded="true"] {
    border-bottom: 4px solid crimson;
    color: crimson;
}

.navbar-active {
    font-family: SansPlain;
    border-bottom: 4px solid crimson;
    color: crimson !important;
}

.clearFix {
    clear: both;
}

.subscription-token-access-bg {
    padding: 5px;
}

/*---------------------------END NAV--------------------*/
.hidden_nav_bar {
    margin: -100px auto 0 auto;
    height: 100px;
    width: 100%;
    background-color: white !important;
    display: block;
    z-index: 9;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -11;
    background-image: url("../img/0_bg.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
body {
    background-color: #140A10 !important;
}
a, a:hover {
    color: #d8232a;
}

a:hover {
    text-decoration: underline;
}

.btn-custom {
    background-color: #D8232A !important;
    color: white;
    border: #D8232A;
}

.btn-custom:hover {
    background-color: #9D0A0F !important;
    color: white !important;
    border: none;
}

.search-button:hover {
    background-color: #9D0A0F !important;
    border: #9D0A0F;
}

/*----------------------- Footer -----------------------*/
footer {
    padding-top: 60px;
    background-color: #F2F2F2;
}

footer h2 {
    font-family: SansPlain;
    font-size: 22px;
    color: #4a4a4a;
}

footer ul li a {
    font-family: SansLight;
    font-size: 16px;
    color: #4a4a4a;
}

#footer-container {
    width: 80%;
    max-width: 1024px;
    height: 215px;
    display: block;
    margin: 0 auto;
}

.footer-categories {
    margin: 0 auto;
    float: left;
    width: 43%;
}

#footer-company {
    width: 14%;
}

footer ul {
    list-style-type: none;
    padding: 0px;
}

.text-center {
    margin-top: 25px;
    padding-bottom: 20px;
    color: #4a4a4a;
}

.footer-copyright {
    font-family: SansLight;
    font-size: 12px;
}

/*----------------------- Spinner -----------------------*/
.spinner_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black center center no-repeat;
    opacity: .5;
    z-index: 90;
}

.loader_cont {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
    background: black center center no-repeat;
    opacity: .5;
    z-index: 99999999999999;
    display: none;
}

.loadingCircle,
.loadingCircle::before,
.loadingCircle::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-left-color: rgba(255, 0, 0, 0.9);
    -webkit-border-radius: 999px;
    border-radius: 999px;
}

.loadingCircle {
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    -webkit-animation: animation-rotate 1000ms linear infinite;
    -moz-animation: animation-rotate 1000ms linear infinite;
    -o-animation: animation-rotate 1000ms linear infinite;
    animation: animation-rotate 1000ms linear infinite;

}

.loadingCircle::before {
    content: "";
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    -webkit-animation: animation-rotate 1000ms linear infinite;
    -moz-animation: animation-rotate 1000ms linear infinite;
    -o-animation: animation-rotate 1000ms linear infinite;
    animation: animation-rotate 1000ms linear infinite;
}

.loadingCircle::after {
    content: "";
    margin: -25px 0 0 -25px;
    height: 50px;
    width: 50px;
    -webkit-animation: animation-rotate 2000ms linear infinite;
    -moz-animation: animation-rotate 2000ms linear infinite;
    -o-animation: animation-rotate 2000ms linear infinite;
    animation: animation-rotate 2000ms linear infinite;
}

@-webkit-keyframes animation-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes animation-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-o-keyframes animation-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes animation-rotate {
    100% {
        transform: rotate(360deg);
    }
}

/*--------------- tablet or mobile view -------------------*/
@media screen and (max-width: 767px) {
    /*------------------- navbar ------------------------*/
    .nav-padding {
        padding: 0px;
    }

    .navbar > .container-fluid .navbar-brand {
        margin-left: 0;
        padding: 12px 15px;
    }

    .navbar-default .navbar-collapse {
        background-color: #f2f2f2;
        margin-top: 0;
    }

    .container-fluid > .navbar-header {
        margin-left: 0;
        margin-right: 0;
    }

    .navbar-active {
        border-bottom: 0px;
        color: crimson !important;
        background-color: #e9e9e9;
    }

    .container-fluid > .navbar-collapse {
        margin-left: -1px !important;
        margin-right: -1px !important;
    }

    #signup-anchor {
        display: block;
    }

    .signup-btn {
        display: none;
    }

    .container-fluid > .navbar-collapse {
        margin-left: -1px;
        margin-right: -1px;
    }

    .navbar-default .navbar-nav > li > a:active, .navbar-default .navbar-nav > li > a:hover {
        border-bottom: 0px;
        color: crimson;
        background-color: #e9e9e9;
    }

    /*-------------------------- footer ------------------------*/
    footer {
        padding: 0 15px;
    }

    #footer-container {
        height: 350px;
        margin: 0;
    }

    #footer-company {
        width: 100%;
    }

    .footer-categories {
        width: 100%;
    }
}

/*--------------------- show password hide -----------------------*/
input[type=password]::-ms-reveal {
    display: none;
}

#password::-ms-reveal {
    display: none;
}

/*------------------------- modal ----------------------------------*/
.modal-body {
    height: auto;
    overflow: auto;
}

.modal-title {
    font-family: SansSemiBold;
    font-size: 22px;
}

.modal-body {
    font-family: SansPlain;
    font-size: 16px;
}
