/* FOR SWAGGER*/
.hoverable span {
  color: #fff;
}
pre {
  color: #fff !important;
}
/* FOR SWAGGER*/
body {
  font-family: 'Frutiger Light', 'Open Sans' !important;
  font-weight: lighter !important;
  font-size: 16px;
}

h1 {
  font-family: 'Frutiger Black', 'Open Sans' !important;
  font-size: 36px !important;
  font-weight: 300 !important;
}

h2 {
  font-family: 'Frutiger Light', 'Open Sans' !important;
  font-size: 36px !important;
  color: #ff3333 !important;
  font-weight: 400 !important;
}

h3 {
  font-family: 'Frutiger Roman', 'Open Sans' !important;
  font-size: 26px !important;
}

h4 {
  font-size: 20px !important;
  font-weight: lighter !important;
}

button .big {
  font-size: 24;
  background-color: #fff;
  border: 1px solid#ff3333;
}

button,
.bigBtn {
  width: 144px;
  height: 40px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  font-size: 24px;
  font-weight: lighter;
}

button,
.smallBtn {
  width: 144px;
  height: 40px;
  background-color: #ff3333;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: lighter;
  cursor: pointer;
}

.benefits-list li {
  list-style: disc;
  font-size: 13px;
}

.benefits-placeholder {
  /* border: 1px solid black; */
  width: 100%;
  /* height: 300px; */
}

.benefits-container {
  height: 100%;
}

h4 a {
  color: #ff3333;
}

h4 a:hover {
  color: #ff3333;
  text-decoration: none;
}

/* NAVBAR */

.navbar {
  font-family: 'Frutiger Light', 'Open Sans' !important;
  font-size: 13px;
  background: #000;
  font-weight: lighter;
  padding-right: 0px !important;
  padding: 0 !important;
}

.nav-link {
  color: #fff !important;
  padding-right: 22px !important;
  padding-left: 22px !important;
  font-size: 16px;
}

.selectedNav {
  background: #7d0207;
  margin-top: -13px;
  height: 63px;
  margin-bottom: -13px;
  padding-top: 21px !important;
  text-align: center;
}

.navbar-logo {
  width: 246px;
  height: auto;
}

.navbar-brand {
  padding-top: 1px !important;
  padding-bottom: 1px !important;
}

@media screen and (max-width: 991px) {
  .selectedNav {
    background: #7d0207;
    margin-top: 0;
    height: 30px;
    margin-bottom: 0;
    padding-top: 5px !important;
    text-align: left;
  }
}

/* FOOTER */

.footer {
  color: #fff;
  padding-left: 8px !important;
  padding-top: 15px !important;
}

.footer a {
  color: #fff !important;
}

.footer a:link {
  color: #fff !important;
}

/* FOOTER Support */

.footerSupport {
  color: #fff;
  padding-left: 8px !important;
  padding-top: 15px !important;
}
@media screen and (min-height: 840px) {
  .footerSupport {
    position: absolute !important;
    bottom: 0 !important;
    width: 100vw;
  }
}

.footerSupport a {
  color: #fff !important;
}

.footerSupport a:link {
  color: #fff !important;
}
/* FOOTER How It works */

.footerHowItWorks {
  color: #fff;
  padding-left: 8px !important;
  padding-top: 15px !important;
}
@media screen and (max-height: 675px) {
  .footerHowItWorks {
    /* position:  !important; */
    bottom: 0 !important;
    width: 100vw;
  }
  #how-it-work {
    margin-bottom: 50px;
  }
}
@media screen and (max-height: 375px) {
  #how-it-work {
    margin-bottom: 350px;
  }
}

.footerHowItWorks a {
  color: #fff !important;
}

.footerHowItWorks a:link {
  color: #fff !important;
}

/* FOOTER */

.footer-nav {
  padding-left: 0;
}

.footer-nav li {
  list-style: none;
  width: auto;
  font-size: 16px;
}

.footer ul {
  padding-left: 0px !important;
}

li {
  list-style: none;
  font-size: 13px;
}

.footer-nav-2 li::before {
  content: "• ";
  color: red;
  font-size: 10px;
}

.footer-nav-3 li::before {
  content: "• ";
  color: red;
  font-size: 10px;
}

.footer-nav-2 ul li:nth-child(odd) {
  margin-right: 25px;
}

.footer-info {
  font-size: 13px;
  /* margin-left: 18px; */
}

.footer-btn-container {
  position: relative;
}

/* CONTAINERS */

.hero-container {
  height: 706px;  
  background: url(Images/image_hero.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero_image_title {
  width: 627.2px;
  height: auto;
}

.api-container {
  margin-top: 60px;
  background: url(Images/image_header.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
}

.formContent {
  margin-top: 92px !important;
}

.api-content {
  margin-top: 32px;
  margin-bottom: 32px;
}

.api-content h2 {
  color: #000 !important;
}

.api-content li {
  list-style: disc !important;
  font-size: 16px;
}

.api-content ul {
  padding-left: 1em !important;
}

.journey-cards {
  background-color: #fff;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  padding: 32px 64px !important;
}

.journey-3-cards {
  background-color: #fff;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  padding: 32px 19px !important;
}

.journey-cards-content {
  height: 150px !important;
  width: 100%;
}

.api-container h1 {
  color: #fff;
}

.api-icon {
  width: 120px;
  height: 70px !important;
}

#api-icon-fundtransfer img {
  height: 110px !important;
}

#api-icon-fundtransfer {
  position: relative;
  top: -7%;
}

.api-icon img {
  height: 100% !important;
}

.hero-btn {
  width: 177px;
  height: 40px;
  background: none;
  border: 1px solid #fff;
  font-family: 'Frutiger Roman', 'Open Sans' !important;
  font-size: 24px;
  color: #fff;
  margin-top: 64px;
}

.content-fluid {
  padding-left: 40px !important;
}

.content-fluid:nth-child(odd) {
  background: #f3f3f3;
  height: 100%;
}

/* REPLICATE THIS FOR CONTAINER FLUID ALIGNNMENT */

.api-content-fluid {
  padding-left: 40px !important;
}

.content-fluid-color {
  background: #f3f3f3;
  height: 100%;
}

.container-first {
  display: flex;
  width: 100%;
  /* height: 62vh; */
}

.partner-icon-h3 {
  font-size: 18px !important;
}

.api-journeys-container-first {
  display: flex;
  width: 100%;
  height: auto;
}

.container-content-subtitle {
  margin-top: 8em;
}

.content-fluid:nth-child(n + 2) .container-content-subtitle {
  margin-top: 0;
  display: none;
}

.content-fluid .container-content-subtitle {
  display: none;
}

.api-content-fluid .container-fluid .container-fluid h4 {
  display: none;
}

.content-fluid .container-first {
  margin-top: 7em;
  /* margin-bottom: 3em; */
}

.content_left h2 {
  margin-bottom: 32px !important;
}

.content_left h4 {
  margin-bottom: 32px !important;
}

.container-first .content_left {
  width: 80%;
}

/* FOR DESKTOP  */

#homeplanner-content {
  width: 61% !important;
}

.container-first .content_right {
  width: 39%;
  position: relative;
}

.api-journeys-container-first .content_left {
  width: 80%;
}

.api-journeys-container-first .content_right {
  width: 24%;
  position: relative;
}
#api-journeys-container-ipad {
  margin-bottom: -15px;
  margin-top: 64px;
}
#api-journeys-container-ipad .content_left {
  width: 61% !important;
}

#api-journeys-container-ipad .content_right {
  width: 39%;
  position: relative;
}

.content-fluid:nth-child(even) .container-first .content_left {
  order: 0 !important;
}

.content-fluid:nth-child(odd) .container-first .content_left {
  order: 1 !important;
}

#rewards-container h1 {
  height: 50px;
}

/* DESKTOP */

.placeholder-image {
  width: 258px;
  /* Adjust this to scale down image*/
  height: auto;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: -87px;
}

/* DESKTOP only for Rewards Redeem Iphone*/

#rewards-redeem-iphone {
  position: absolute;
  right: 0;
  left: 0;
  /* top: -6em; */
  top: -109px;
}

/* First Container of the Discover APIs */

#first-container-discover-api {
  margin-top: 11em;
}

/* FOR DESKTOP */

.homeplannner-ipad {
  width: 408px;
  /* Adjust this to scale down image*/
  height: auto;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 37px;
}

.api-journey-placeholder-image-ipad {
  width: 353px;
  /* Adjust this to scale down image*/
  height: auto;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  /* top: 0; */
  top: 3px;
}

.api-journey-placeholder-image {
  width: 195px;
  /* Adjust this to scale down image*/
  height: auto;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  /* top: 0; */
  top: -54px;
}

.api-content-fluid .container-fluid .container-fluid h4 {
  display: none;
}

.journey-cards h4 {
  display: block !important;
}

span {
  font-size: 16px;
}

#numeric-ol li {
  list-style-type: decimal !important;
}

.btn-back-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 70px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ff3333 !important;
  color: #fff;
  cursor: pointer;
  padding: 0px;
  width: 35px;
  height: 45px;
}

.btn-back-top:active {
  outline: none;
}

.dropdown-divider {
  display: none;
}

.footer-nav-2 li {
  float: left;
  width: 15em;
}

.content-button {
  height: 100%;
  background: #f3f3f3;
}

.content-button h2 {
  color: #000 !important;
  font-weight: lighter !important;
  margin-bottom: 2vh;
}

.RTlogo {
  margin-top: 55px;
}

@media screen and (max-width: 900px) {
  .RTlogo {
    margin-top: 0;
  }
}

.content-button button {
  width: 177px;
  height: 40px;
  background: #fff;
  border: 1px solid #ff3333;
  font-size: 24px;
  color: #ff3333;
}

.api-content h1 {
  margin-bottom: 1em;
}

.indentation2 {
  margin-top: -15px !important;
  margin-left: 20px;
}

#how-it-work {
  background: url(Images/image_howitworks.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 200px;
}

/* HOME PAGE */
#partners-image {
  margin-top: 59px;
  background: url(Images/image_partner_logos.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 379px;
}
.partner-logo-text {
  margin-top: 65px;
  margin-bottom: 35px;
}

/* HOME PLANNER */

/* Desktop */

#homeplanner-image {
  background: url(Images/image_desktop_homeplanner.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 450px;
}

/* FUND TRANSFER */

/* Desktop */

#fundtransfer-image {
  background: url(Images/image_desktop_fundstransfer.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 600px;
}

/* FUND TRANSFER */

/* Desktop */

#points-image {
  background: url(Images/image_desktop_rewardsredemption.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 600px;
}

#api-journey-placeholder-ipad-homage {
  width: 353px;
  height: auto;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 26px;
}

/* FORM */

input,
emailHelp {
  font-weight: lighter !important;
}

#form-container {
  padding-top: 19vh !important;
}

/* HOME CONTAINER - APIs ICON */

.home-api-icon img {
  width: 90px;
  /* height: 60px; */
}

.home-api-icon h3 {
  font-size: 24px !important;
}

.icon-row {
  margin-bottom: 24px;
}

#partners-group {
  background-color: #fff;
}

.partner-icons-row {
  margin-bottom: 35px;
  position: relative;
  top: -8%;
}

.partner-icons-row img {
  width: 481px;
}

.partner-icons-row-fuzzie {
  position: relative;
  TOP: 11%;
  bottom: 0;
}

.partner-icons-row-fuzzie img {
  height: 37px;
}
.partner-icons-row-homage img {
  height: 72px;
}

.partner-icons-row-homage {
  margin-bottom: 35px;
}

/* ROW 2 OF PARTNERS ICON */

.partner-icons-row2 img {
  height: 72px !important;
}

.partner-icons-row-aig img {
  height: 58px !important;
}

.partner-row1-marginTop {
  margin-top: 57px;
}

.partner-row2-marginTop {
  margin-top: 19px;
}
.partner-row3-marginTop {
  margin-top: 26px;
  margin-bottom: 30px;
}

.partner-icons-row-msig {
  position: relative;
  top: 6%;
}
.partner-icons-row-msig img {
  height: 51px;
  /* width: 347px; */
}
.partner-icons-row-property-guru {
  position: relative;
  top: 6%;
}

.partner-icons-row-property-guru img {
  height: 55px;
  /* width: 157px; */
}

.partner-col-size {
  width: 253.25px !important;
}

.partner-col-3items-size {
  width: 283.66px !important;
}

#Partners-Group .col-sm-4 {
  width: 248.6px;
  height: 105px;
}

/* X */

.partner-icons-row-grab {
  position: relative;
  top: 7%;
}

.partner-icons-row-grab img {
  height: 40px;
}

.partner-icons-row-div {
  margin-bottom: 35px;
}

.partner-icons-row-jurong img {
  height: 74px;
  width: auto;
}

.partner-icons-row-socash img {
  width: 159px !important;
  /* height: 39px !important; */
}

#partner-icon-reddotpayment img {
  height: 55px;
}

.partner-icons-row-socash {
  position: relative;
  top: 20%;
}

.partner-icons-row img {
  height: 75 !important;
}

#journey-cards-display {
  display: block !important;
}

.api-journey-overview-margin {
  margin-top: 28px;
}
@media (max-width: 1130px) {
  .footer-nav-2 li {
    float: left;
    width: 10em;
  }
  img.bg {
    width: auto;
    /* 50% */
  }
  .socash-iphone {
    width: 258px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: -36px !important;
  }

  .content_right_1024 {
    width: 46% !important;
  }
  .homeplannner-ipad {
    width: 367px !important;
  }
}

@media (max-width: 1250px) {
  #rewards-redeem-iphone {
    position: absolute;
    right: 0;
    left: 0;
    /* top: -6em; */
    top: -85px;
  }
  .placeholder-image {
    width: 258px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: -63px;
  }
}

.mobile-center-class {
  margin: 0 auto;
  text-align: center;
}

/* Screen smaller than iPAD */
/* @media screen and (max-width: 740px) {

} */

/* Tablets to mobile*/

@media (max-width: 900px) {
  .content-fluid {
    padding: 1.5em !important;
  }

  .benefits-placeholder {
    height: 162px;
}
  .content-fluid .container-first {
    margin-bottom: 1em;
  }
  #h4-a-link {
    margin-bottom: 0 !important;
  }
  #api-journey-access-container {
    margin-top: 0px !important;
    padding-top: 0 !important;
  }
  h1 {
    font-size: 24px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  .footer-nav-2 li {
    float: none;
    width: 100%;
  }
  .footerHowItWorks > .container-fluid {
    padding: 0;
  }
  .footerSupport > .container-fluid {
    padding: 0;
  }
  .footer > .container-fluid {
    padding: 0;
  }
  .footerHowItWorks .container-fluid > .container-fluid {
    padding: 0;
  }
  .footerSupport .container-fluid > .container-fluid {
    padding: 0;
  }
  .footer .container-fluid > .container-fluid {
    padding: 0;
  }
  .hero_image_title {
    width: 82%;
  }
  .container-content-subtitle {
    margin-top: 20px;
  }
  .content-fluid .container-content-subtitle {
    display: block;
  }
  .content-fluid:nth-child(n + 2) .container-content-subtitle {
    display: block;
  }
  .content-fluid .content_left h3 {
    display: none;
  }
  /* */
  .content-fluid .container-first {
    margin-top: 1em;
  }
  .container-first .content_left {
    width: 100%;
    order: 1;
  }
  .container-first .content_right {
    width: 100% !important;
    order: 0;
  }
  .container-first {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  /* API Journey Journey In Action */
  .api-journeys-container-first .content_left {
    width: 100%;
    order: 1;
    /* margin-bottom: 21px; */
  }
  #api-journey-socash-container {
    margin-bottom: -36px;
  }
  .api-journeys-container-first .content_right {
    width: 100%;
    order: 0;
  }
  .api-journeys-container-first {
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
    height: 100%;
  }
  .dropdown-divider {
    display: block;
    border: 1px solid #000;
  }
  /* TABLE < 900px */

  .placeholder-image {
    width: 32%;
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0 !important;
  }
  /* TABLE < 900px */
  /* This focus purely on the first container for API Journey @ homepage */
  #rewards-redeem-iphone {
    width: 32%;
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }
  #first-container-discover-api {
    margin-top: 1em;
  }
  /* FOR IPAD */
  .homeplannner-ipad {
    width: 400px !important;
    /* Adjust this to scale down image*/
    height: auto;
    margin-bottom: 10px;
    margin-top: 19px;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }
  /* MOBILE */
  #homeplanner-content {
    width: 100% !important;
    order: 1 !important;
  }
  /* API Journey */
  .api-journey-placeholder-image {
    width: 30%;
    /* Adjust this to scale down image*/
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: -28px;
  }
  /* API Journey */
  .api-journey-placeholder-image-ipad {
    width: 300px;
    /* Adjust this to scale down image*/
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }
  /* FOR POINTS - HOMAGE IPAD*/
  #api-journey-placeholder-ipad-homage {
    width: 300px;
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }
  /* to display none */
  .display-none {
    display: none;
  }
  /* Ipad Container that's on the right*/
  #api-journeys-container-ipad .content_right {
    width: auto;
  }
  /* Start Container with the Ipad container on the left*/
  #api-journeys-container-ipad .content_left {
    width: 100% !important;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #api-journeys-container-ipad .content_left h4 {
    display: none;
  }
  /* End Container with the Ipad container on the left*/
  #partners-image {
    background: url(Images/image_partner_logos.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 336px;
  }

  /* HOMEPLLANNER */
  /* mobile */
  #homeplanner-image {
    background: url(Images/image_mobile_homeplanner.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 1200px;
  }
  /* FUND TRANSFER */
  /* mobile */
  #fundtransfer-image {
    background: url(Images/image_mobile_fundstransfer.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 1600px;
  }
  /* FUND TRANSFER */
  /* mobile */
  #points-image {
    background: url(Images/image_mobile_rewardsredemption.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 1600px;
  }
  .api-content-fluid .container-fluid .container-fluid h4 {
    display: block;
  }
  .api-content-fluid .container-first .content_left h4 {
    display: none;
  }
  .content-button h2 {
    margin: 8px 0;
  }
  .content-button button {
    margin: 8px 0;
  }
  .api-content-fluid {
    padding: 1em !important;
  }
  .journey-cards {
    padding: 1em !important;
    height: 320px !important;
  }
  .journey-cards-content {
    height: 132px !important;
  }
  #how-it-work {
    background: url(Images/how-it-works-Mobile.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 120vh;
    /* margin-top: 75px; */
  }
  #form-container {
    padding-top: 12vh !important;
  }
  .partner-icons-row {
    margin-bottom: 0;
    width: 150px;
    left: -34%;
  }
  .partner-icons-row img {
    height: auto !important;
    width: 229px !important;
  }

  /* start of mcdonald logo */
  .partner-icons-row2 {
    height: 70px;
  }
  .partner-icons-row2 img {
    height: 54px !important;
  }
  /* end of mcdonald logo */

  /* start of aig logo */
  .partner-icons-row-aig img {
    height: 42px !important;
  }
  .partner-icons-row-aig {
    position: relative;
    top: 0%;
  }
  /* end of aig logo */

  /* start of homeage logo */
  .partner-icons-row-homage {
    TOP: 0;
    height: 71px;
    margin-bottom: 0;
  }
  .partner-icons-row-homage img {
    width: 56px;
    height: auto;
  }
  /* end of homeage logo */

  /* start of msig logo */
  .partner-icons-row-msig {
    height: 20px;
    position: relative;
    top: 17%;
  }
  .partner-icons-row-msig img {
    width: 73%;
    height: auto;
  }
  /* end of msig logo */
  /* start of red dot payment logo */
  #partner-icon-reddotpayment {
    position: relative;
    top: -5%;
  }
  #partner-icon-reddotpayment img {
    width: 41%;
    height: auto;
  }
  /* end of red dot payment logo */
  /* start of property guru logo*/
  .partner-icons-row-property-guru img {
    height: 45px;
    width: auto;
  }
  .partner-icons-row-property-guru {
    top: 9%;
    top: 6%;
  }
  /* end of property guru logo*/
  /* start of grab logo */
  .partner-icons-row-grab {
    height: 56px;
    top: 17%;
    left: 24%;
  }
  .partner-icons-row-grab img {
    height: 25px;
  }
  /* end of grab logo */
  /* start of jurong port logo */
  .partner-icons-row-jurong {
    position: relative;
    top: 1%;
  }
  .partner-icons-row-jurong img {
    width: auto;
    height: 44px;
  }
  /*  end jurong port logo */
  /* start of fuzzie */
  .partner-icons-row-fuzzie {
    position: relative;
    TOP: 19%;
    bottom: 0;
    width: 133px;
  }
  .partner-icons-row-fuzzie img {
    height: auto;
    width: auto;
  }
  /* end of fuzzie */
  .partner-icons-row-socash img {
    width: 126px !important;
    height: auto !important;
  }
  .partner-icons-row-socash {
    top: 29%;
  }
  /* end for SoCash*/
  .partner-mobile-h1 {
    margin-bottom: 19px;
  }
  #api-icon-fundtransfer {
    position: relative;
    top: -3%;
  }

  #api-icon-fundtransfer img {
    height: 90px !important;
  }
  .partner-col-size {
    margin-top: 35px;
    margin-bottom: 35px;
  }
  #Partners-Group .col-sm-3 {
    width: 248.6px;
    height: 90px;
  }
  #Partners-Group .col-sm-4 {
    width: 109px;
    height: 71px;
  }
  .journey-3-cards {
    background-color: #fff;
    width: 400px;
    height: 350px;
    border: 1px solid black;
    padding: 32px 19px !important;
  }
  .api-partner-marginUp {
    margin-top: 8px;
  }
  #api-journeys-container-ipad {
    margin-bottom: -48px;
    margin-top: 10px;
  }
  .journey-cards-h3-height {
    height: auto;
  }
  .benefits-list li {
    list-style: disc;
    font-size: 13px;
}
}

/* End Tablets to mobile*/

@media screen and (max-width: 360px) {
  .homeplannner-ipad {
padding-right: 45px;
  }
}

/* Start - mobile - iphone */

@media screen and (max-width: 460px) {
  .partner-logo-text {
    margin-top: 29px;
    margin-bottom: 13px;
  }
  #partners-image {
    background: url(Images/image_partner_logos_MOBILE.png) no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    margin-top: 0px;
  }
  .col-md-6:nth-child(2) .journey-cards {
    margin-top: 1em !important;
  }
  .journey-cards-margins {
    margin-top: 11px !important;
  }
  #rewards-redeem-iphone {
    width: 47% !important;
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }
  .navbar-logo {
    width: 160px;
  }
  .api-container {
    margin-top: 40px;
  }
}

/* Start - mobile - iphone */

/* support page */

.supportPage {
  height: 430px;
  margin-top: 0px !important;
}

/* how it works tabs */

.howItWorkPage {
  height: 420px;
}

.howItWorks-api-content {
  width: 70% !important;
  padding: 0 !important;
  position: relative;
  margin-top: 50px;
}

.sideTab {
  color: black !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  width: 22%;
  text-align: left;
  font-family: 'Frutiger Roman', 'Open Sans';
  font-weight: 300;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 0 !important;
}

/* .active {
  border-radius: 4px !important;
  border-bottom: 4px solid #ff3333;
  background-color: white !important;
} */

#sub-item1 {
  padding-left: 15px !important;
  padding-bottom: 4px;
  background-color: white;
}

#sub-item2 {
  padding-left: 15px !important;
  padding-bottom: 4px;
  background-color: white;
}

.fade {
  border: none !important;
}

.tab-content {
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 75%;
  position: absolute;
  right: 0;
  top: 0;
  padding-bottom: 15px;
  height: 430px;
  overflow: auto;
}

.tabHeader {
  background-color: #f5f5f5;
  text-align: left;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.detailWords {
  padding: 0px 15px;
  font-size: 14px;
}

.welcomeDetails {
  margin-top: 0px;
  font-size: 14px;
}

.howItWorkImage {
  height: 200px !important;
}

.additionalLink {
  margin-top: 25px;
  margin-bottom: 0;
}

.signUpLink {
  text-decoration: underline !important;
  cursor: pointer;
  color: black;
}

.signUpLink:hover {
  color: black;
}

.SandboxWords {
  margin-top: 20px;
}

.createWords {
  margin-top: 20px;
}

.createTitle {
  font-weight: 400;
}

.LineSpacing {
  margin-top: 10px !important;
}

.faqWordings {
  margin-top: 20px;
}

.FAQquestion {
  color: #ff3333;
}

.lineSpacingSmall {
  margin-top: -15px !important;
  margin-left: 16px !important;
}

.questionIndent {
  margin-left: 30px !important;
}

.links {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.fontSize {
  font-size: 14px !important;
}

.orderList li {
  list-style: decimal !important;
}

.indentation {
  margin-top: -15px !important;
  margin-left: 50px !important;
}

.emailLink {
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
  color: #0563c1;
}

@media screen and (max-width: 1059px) {
  .textSpacer {
    height: 82px;
  }
}
@media screen and (max-width: 1049px) {
  .journey-cards-content {
    font-size: 14px;
  }
  #journey-cards-display {
    font-size: 14px !important;
  }
  .item-des {
    font-size: 14px !important;
  }
  .textSpacer {
    height: 82px;
  }
}
@media screen and (max-width: 900px) {
  .journey-cards-content {
    font-size: 12px;
  }
  #journey-cards-display {
    font-size: 12px !important;
  }
  .item-des {
    font-size: 12px !important;
  }
  .textSpacer {
    height: 44px;
  }
  .hero-container {
    height: 706px;    
    background: url(Images/image_hero_compressed.png);
    background-position: center;
    /* background-attachment: scroll; */
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;

  }
  .hero-btn {
    font-weight: 600;
    font-size: 18px;
  }
}
@media screen and (max-width: 892px) {
  .textSpacer {
    height: 68px;
  }
}
@media screen and (max-width: 818px) {
  .journey-cards-content {
    font-size: 11px;
  }
  #journey-cards-display {
    font-size: 12px !important;
  }
  .item-des {
    font-size: 14px !important;
  }
  .textSpacer {
    height: 68px;
  }
}
@media screen and (max-width: 767px) {
  .textSpacer {
    height: 24px;
  }
}
@media screen and (max-width: 385px) {
  .journey-cards-content {
    font-size: 12px !important;
  }
  #journey-cards-display {
    font-size: 12px !important;
  }
}
/*FOR SCREEN SMALLER THAN IPAD*/
@media screen and (max-width: 768px) {

  .journey-cards-content {
    font-size: 14px;
  }
  #journey-cards-display {
    font-size: 14px !important;
  }
  .discover-title {
    /* margin-top: -10px !important; */
  }
  .item-des {
    font-size: 14px !important;
  }
  .discover-Item > .itemLink {
    font-size: 14px !important;
  }
  .journey-cards-margins {
    margin-top: 11px !important;
  }
  .supportPage {
    height: 540px;
    margin-top: 0px !important;
  }
  .howItWorks-api-content {
    width: 90% !important;
  }
  .home-api-icon-row {
    /* height: 450px; */
    /* margin-top: 35px; */
    margin-bottom: 35px;
  }
  .homeplannner-ipad {
    width: 300px !important;
    height: auto;
    margin-bottom: 10px;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }
  #rewards-redeem-iphone {
    width: 47% !important;
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
  }
  .placeholder-image {
    width: 47%;
    /* Adjust this to scale down image*/
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0 !important;
  }
  /* start of msig logo */
  .partner-icons-row-msig {
    height: 20px;
    position: relative;
    top: 6%;
  }
  /* end of msig logo */

  /* start for SoCash*/
  .partner-icons-row-socash {
    top: 65%;
  }
  /* end for SoCash*/

  .partner-col-size {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
/*END FOR SCREEN SMALLER THAN IPAD*/

@media screen and (max-width: 415px) {
  .home-api-icon-row {
    /* height: 450px; */
    margin-top: 35px;
  }
  .api-journey-placeholder-image {
    width: 47%;
    height: auto;
    margin: 0 auto;
    position: relative;
    right: 0;
    left: 0;
    top: 0;
}
  .supportPage {
    height: 540px;
    margin-top: 0px !important;
  }
  .tab-content {
    height: 570px;
  }
  .sideTab {
    font-size: 8px;
  }
  .howItWorks-api-content {
    width: 94% !important;
  }
  */ .fontSize {
    font-size: 10px !important;
  }
  .detailWords {
    padding: 0px 15px;
    font-size: 8px !important;
  }
  .welcomeDetails {
    margin-top: 0px;
    font-size: 10px;
  }
  .tabHeader {
    font-size: 10px;
  }
  .links {
    font-size: 8px;
  }
  .emailLink {
    font-size: 8px;
  }
  .mobileFontSize {
    font-size: 8px !important;
  }
  #journey-cards-display {
    font-size: 10px;
  }

  .partner-row1-marginTop {
    margin-top: 38px;
  }

  .partner-icons-row {
    width: 141px;
    top: -8%;
    left: -8%;
  }

  .partner-icons-row-aig {
    margin-bottom: 29px;
  }
  .partner-icons-row img {
    height: auto;
    width: auto;
  }

  .partner-icons-row-fuzzie {
    width: 129px;
    position: relative;
    TOP: 22%;
    bottom: 0;
  }

  .partner-icons-row-fuzzie img {
    width: auto;
    height: auto;
  }

  .partner-icons-row-grab {
    height: 64px;
    top: 16%;
    left: 0%;
  }

  .partner-icons-row-grab img {
    height: 25px;
  }

  .partner-icons-row-homage {
    top: 0;
    height: 71px;
    margin-bottom: 0;
  }

  .partner-icons-row-homage img {
    width: 55px;
    height: auto;
  }

  .partner-col-size {
    margin-bottom: 22px;
  }
  .partner-icons-row2 {
    height: 70px;
  }

  .partner-icons-row2 img {
    height: 52px !important;
  }

  .partner-icons-row-msig {
    height: 20px;
    position: relative;
    top: 15%;
  }

  .partner-icons-row-msig img {
    width: 76%;
    height: auto;
  }

  .partner-icons-row-property-guru {
    position: relative;
    top: 6%;
  }

  .partner-icons-row-property-guru img {
    height: 42px;
    width: auto;
  }

  /* third row */

  .api-partner-marginUp {
    margin-top: 14px;
    margin-bottom: 24px;
  }

  .partner-col-3items-size {
    width: 141.5px !important;
  }

  #partner-icon-reddotpayment {
    top: 42%;
    position: relative;
  }

  #partner-icon-reddotpayment img {
    width: 74%;
    height: auto;
  }

  .partner-icons-row-socash {
    top: 65%;
  }

  .partner-icons-row-socash img {
    width: 111px !important;
    height: auto !important;
  }

  /* end of third row */
} /*END FOR @media screen and (max-width: 415px)*/

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.videoContainer iframe {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
}

/* FOR iMAC - Affect only after 1520px on onwards*/

@media screen and (min-width: 1520px) {
  .placeholder-image {
    width: 258px;
    height: auto;
    margin: 0 auto;
    position: absolute;
    right: 0;
    left: 0;
    top: -133px !important;
  }
  .container-first .content_left {
    width: 60%;
  }
  .container-first .content_right {
    width: 40%;
  }
  .placeholder-image2 {
    top: -153px !important;
  }
  .content-fluid .container-first {
    margin-top: 11em;
    /* margin-bottom: 3em; */
  }
}

.spacer {
  height: 0;
}
@media only screen and (max-width: 1568px) {
  .spacer {
    height: 20px;
  }
}
button {
  outline: none !important;
}